
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.age-adult-juQ {
  width: 100%;
  height: 149rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.age-adult-juQ .auto-group-qkea-tXQ {
  width: 15rem;
  height: 26.7rem;
  position: absolute;
  left: 23.6rem;
  top: 20.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.age-adult-juQ .auto-group-qkea-tXQ .image-2-cTQ {
  margin-bottom: 1.3rem;
  width: 15rem;
  height: 23.4rem;
  position: relative;
  background-size: 105.078% 100%;
  background-position: -0.4308rem 0;
  background-image: url('../assets/image-2-7Xt.png');
  flex-shrink: 0;
}
.age-adult-juQ .auto-group-qkea-tXQ .laut-bercerita-vDC {
  margin-right: 1.3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.age-adult-juQ .auto-group-rufx-2n2 {
  width: 15rem;
  height: 26.7rem;
  position: absolute;
  left: 50.9rem;
  top: 20.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.age-adult-juQ .auto-group-rufx-2n2 .images-5-1-xva {
  margin-bottom: 1.3rem;
  width: 15rem;
  height: 23.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.age-adult-juQ .auto-group-rufx-2n2 .laut-tengah-6mt {
  margin-right: 1.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.age-adult-juQ .auto-group-kqpw-2Qe {
  width: 15rem;
  height: 26.7rem;
  position: absolute;
  left: 78.2rem;
  top: 20.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.age-adult-juQ .auto-group-kqpw-2Qe .rekomendasi-buku-bacaan-buat-remaja-1-x3Q {
  margin-bottom: 1.3rem;
  width: 15rem;
  height: 23.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.age-adult-juQ .auto-group-kqpw-2Qe .moon-GZt {
  margin-right: 1.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.age-adult-juQ .auto-group-zjrn-bcA {
  width: 15rem;
  height: 26.7rem;
  position: absolute;
  left: 105.3rem;
  top: 20.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.age-adult-juQ .auto-group-zjrn-bcA .tere-liye-1-vuL {
  margin-bottom: 1.3rem;
  width: 15rem;
  height: 23.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.age-adult-juQ .auto-group-zjrn-bcA .matahari-minor-UR4 {
  margin-right: 1.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.age-adult-juQ .genre-Pnv {
  box-sizing: border-box;
  padding: 4.945rem 45.9rem 5.055rem 39.35rem;
  width: 144rem;
  height: 12.7rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/subtract-6nA.png');
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.age-adult-juQ .genre-Pnv .action-uFU {
  margin-right: 18.05rem;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.age-adult-juQ .genre-Pnv .adventure-qQ2 {
  margin-right: 15.4rem;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.age-adult-juQ .genre-Pnv .fantasy-AhC {
  text-align: center;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.age-adult-juQ .age-s5p {
  box-sizing: border-box;
  padding: 4.945rem 47.3rem 5.055rem 40.05rem;
  width: 144rem;
  height: 12.7rem;
  position: absolute;
  left: 0;
  top: 11.3rem;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/subtract-vpE.png');
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.age-adult-juQ .age-s5p .child-mS6 {
  margin-right: 21.65rem;
  cursor: pointer;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.age-adult-juQ .age-s5p .teen-szv {
  margin-right: 19.7rem;
  cursor: pointer;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.age-adult-juQ .age-s5p .adult-DYz {
  text-align: center;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #e74646;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.age-adult-juQ .header-7PU {
  box-sizing: border-box;
  padding: 3.8rem 10rem 3.8rem 6.4rem;
  width: 144rem;
  height: 12.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.age-adult-juQ .header-7PU .logo-apk-1-Cfp {
  margin: 0rem 8.9rem 0.1rem 0rem;
  width: 4.7rem;
  height: 4.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.age-adult-juQ .header-7PU .landing-page-83g {
  margin: 0.3rem 6.1rem 0rem 0rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.age-adult-juQ .header-7PU .home-e22 {
  margin: 0.3rem 6.1rem 0rem 0rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.age-adult-juQ .header-7PU .library-Zen {
  margin: 0.3rem 1.794rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #e74646;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.age-adult-juQ .header-7PU .icon-keyboard-arrow-right-5t2 {
  margin: 0.787rem 4.562rem 0rem 0rem;
  width: 0.8438rem;
  height: 1.2097rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.age-adult-juQ .header-7PU .genre-bbU {
  margin: 0.7rem 6.1rem 0rem 0rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.age-adult-juQ .header-7PU .age-vNr {
  margin: 0.7rem 22.4rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #e74646;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.age-adult-juQ .header-7PU .search-Fg2 {
  margin-top: 0.3rem;
  box-sizing: border-box;
  padding: 1.2rem 2.2rem;
  width: 29.9rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.25;
  color: #5e5e5e;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #121212;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
