
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.genre-adventure-2-Ccn {
  width: 100%;
  height: 149rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.genre-adventure-2-Ccn .auto-group-tqzk-waN {
  width: 96.9rem;
  height: 23.4rem;
  position: absolute;
  left: 23.5rem;
  top: 49rem;
  display: flex;
  align-items: center;
}
.genre-adventure-2-Ccn .auto-group-tqzk-waN .wingfeather-saga-cover-series-1-rxE {
  margin-right: 12.3rem;
  width: 15rem;
  height: 23.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .auto-group-tqzk-waN .rectangle-18-adL {
  margin-right: 11.5rem;
  width: 15rem;
  height: 23.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .auto-group-tqzk-waN .marco-guadalupi-on-behance-1-iDk {
  margin-right: 11.5rem;
  width: 16.6rem;
  height: 23.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .auto-group-tqzk-waN .rectangle-17-S9k {
  width: 15rem;
  height: 23.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .auto-group-zuww-mxi {
  width: 98.95rem;
  height: 2rem;
  position: absolute;
  left: 22.55rem;
  top: 73.7rem;
  display: flex;
  align-items: center;
}
.genre-adventure-2-Ccn .auto-group-zuww-mxi .the-wingfeather-saga-tXY {
  margin-right: 12.05rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .auto-group-zuww-mxi .a-wolf-for-a-spell-QVt {
  margin-right: 14.85rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .auto-group-zuww-mxi .the-flying-ship-Wop {
  margin-right: 13.05rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .auto-group-zuww-mxi .the-magical-imperfect-qbC {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .auto-group-v8ml-aHt {
  width: 94.05rem;
  height: 2.1rem;
  position: absolute;
  left: 22.7rem;
  top: 42.5rem;
  display: flex;
  align-items: center;
}
.genre-adventure-2-Ccn .auto-group-v8ml-aHt .raya-the-last-dragon-6X8 {
  margin: 0rem 12.35rem 0.1rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .auto-group-v8ml-aHt .the-bridge-home-bin {
  margin: 0.1rem 14.85rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .auto-group-v8ml-aHt .hidden-dragon-X6e {
  margin: 0.1rem 17.55rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .auto-group-v8ml-aHt .ferdinand-34z {
  margin-bottom: 0.1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .auto-group-9rpp-AQW {
  width: 97.4rem;
  height: 23.5rem;
  position: absolute;
  left: 23.3rem;
  top: 17.8rem;
  display: flex;
  align-items: center;
}
.genre-adventure-2-Ccn .auto-group-9rpp-AQW .raya-h9Y {
  margin: 0rem 11.9rem 0.1rem 0rem;
  width: 15.5rem;
  height: 23.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .auto-group-9rpp-AQW .read-across-america-book-of-the-month-july-1-RrE {
  margin: 0.1rem 11.8rem 0rem 0rem;
  width: 15.5rem;
  height: 23.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .auto-group-9rpp-AQW .hidden-dragon-LiJ {
  margin: 0.1rem 11.6rem 0rem 0rem;
  width: 15.4rem;
  height: 23.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .auto-group-9rpp-AQW .movies-to-watch-with-your-kids-before-they-grow-up-U3p {
  margin-bottom: 0.1rem;
  width: 15.7rem;
  height: 23.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .age-zXx {
  box-sizing: border-box;
  padding: 4.945rem 47.3rem 5.055rem 40.05rem;
  width: 144rem;
  height: 12.7rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/subtract-VJE.png');
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.genre-adventure-2-Ccn .age-zXx .child-hhG {
  margin-right: 21.65rem;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .age-zXx .teen-qYa {
  margin-right: 19.7rem;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .age-zXx .adult-ZzN {
  text-align: center;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .genre-Gdt {
  box-sizing: border-box;
  padding: 4.945rem 45.9rem 5.055rem 39.35rem;
  width: 144rem;
  height: 12.7rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/subtract-1Vp.png');
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.genre-adventure-2-Ccn .genre-Gdt .action-mqY {
  margin-right: 18.05rem;
  cursor: pointer;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .genre-Gdt .adventure-gSi {
  margin-right: 15.4rem;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #e74646;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .genre-Gdt .fantasy-Cvr {
  cursor: pointer;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .header-Jyt {
  box-sizing: border-box;
  padding: 3.8rem 10.006rem 3.8rem 6.4rem;
  width: 144rem;
  height: 12.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.genre-adventure-2-Ccn .header-Jyt .logo-apk-1-cjg {
  margin: 0rem 8.894rem 0.1rem 0rem;
  width: 4.7rem;
  height: 4.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .header-Jyt .landing-page-wmx {
  margin: 0.3rem 6.106rem 0rem 0rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .header-Jyt .home-re2 {
  margin: 0.3rem 6.1rem 0rem 0rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .header-Jyt .library-NcN {
  margin: 0.3rem 1.794rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #e74646;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .header-Jyt .icon-keyboard-arrow-right-HjL {
  margin: 0.787rem 4.562rem 0rem 0rem;
  width: 0.8439rem;
  height: 1.2096rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .header-Jyt .genre-zNr {
  margin: 0.7rem 6.1rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #e74646;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .header-Jyt .age-X7t {
  margin: 0.7rem 22.394rem 0rem 0rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.genre-adventure-2-Ccn .header-Jyt .search-SVk {
  margin-top: 0.3rem;
  box-sizing: border-box;
  padding: 1.2rem 2.2rem;
  width: 29.9rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.25;
  color: #5e5e5e;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #121212;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
