
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.raya-age-ijkl-2-XQr {
  width: 100%;
  height: 95.9rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.raya-age-ijkl-2-XQr .raya-and-the-last-dragon-49t {
  width: 31.1rem;
  height: 3rem;
  position: absolute;
  left: 56.7rem;
  top: 20.3rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.raya-age-ijkl-2-XQr .back-kYW {
  width: 6rem;
  height: 2.5rem;
  cursor: pointer;
  position: absolute;
  left: 5.8rem;
  top: 14.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.raya-age-ijkl-2-XQr .back-kYW .back-kYW-sub-0 {
}
.raya-age-ijkl-2-XQr .back-kYW .back-kYW-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
}
.raya-age-ijkl-2-XQr .rectangle-115-XSn {
  width: 15rem;
  height: 0.3rem;
  position: absolute;
  left: 64.5rem;
  top: 28.9rem;
  background-color: #fa9884;
  border-radius: 1rem;
}
.raya-age-ijkl-2-XQr .ijkl-4Bp {
  width: 4.7rem;
  height: 2.5rem;
  position: absolute;
  left: 70rem;
  top: 25.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.25;
  color: #818181;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.raya-age-ijkl-2-XQr .auto-group-jvdg-aR4 {
  width: 23.6rem;
  height: 4rem;
  position: absolute;
  left: 60.2rem;
  top: 85.8rem;
  display: flex;
  align-items: center;
}
.raya-age-ijkl-2-XQr .auto-group-jvdg-aR4 .polygon-1-WZc {
  margin-right: 15.6rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.raya-age-ijkl-2-XQr .auto-group-jvdg-aR4 .polygon-2-3ZY {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.raya-age-ijkl-2-XQr .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-sed-ut-perspiciatis-unde-omnis-iste-natus-error-sit-voluptatem-accusantium-doloremque-laudantium-totam-rem-aperiam-eaque-ipsa-quae-ab-illo-inventore-veritatis-et-quasi-architecto-beatae-vitae-dicta-sunt-explicabo-nemo-enim-ipsam-voluptatem-quia-voluptas-sit-aspernatur-aut-odit-aut-fugit-sed-quia-consequuntur-magni-dolores-eos-qui-ratione-voluptatem-sequi-nesciunt-neque-porro-quisquam-est-qui-dolorem-ipsum-quia-dolor-sit-amet-consectetur-adipisci-velit-sed-quia-non-numquam-eius-modi-tempora-incidunt-ut-labore-et-dolore-magnam-aliquam-quaerat-voluptatem-ut-enim-ad-minima-veniam-quis-nostrum-exercitationem-ullam-corporis-suscipit-laboriosam-nisi-ut-aliquid-ex-ea-commodi-consequatur-quis-autem-vel-eum-iure-reprehenderit-qui-in-ea-voluptate-velit-esse-quam-nihil-molestiae-consequatur-vel-illum-qui-dolorem-eum-fugiat-quo-voluptas-nulla-pariatur-BQr {
  width: 88.5rem;
  height: 33.8rem;
  position: absolute;
  left: 27.8rem;
  top: 38.6rem;
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
}
.raya-age-ijkl-2-XQr .header-BbC {
  width: 144.1rem;
  height: 14.9rem;
  position: absolute;
  left: 0;
  top: 0;
}
.raya-age-ijkl-2-XQr .header-BbC .age-KSW {
  width: 144rem;
  height: 12.7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/subtract-cyL.png');
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.raya-age-ijkl-2-XQr .header-BbC .age-KSW .teen-4ez {
  width: 4.8rem;
  height: 2.7rem;
  position: absolute;
  left: 66.7rem;
  top: 2.2451rem;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.raya-age-ijkl-2-XQr .header-BbC .age-KSW .adult-BDp {
  width: 5.4rem;
  height: 2.7rem;
  position: absolute;
  left: 91.2rem;
  top: 2.2451rem;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.raya-age-ijkl-2-XQr .header-BbC .age-KSW .child-gAa {
  width: 5.1rem;
  height: 2.7rem;
  position: absolute;
  left: 39.95rem;
  top: 2.2451rem;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.raya-age-ijkl-2-XQr .header-BbC .age-KSW .genre-PKt {
  box-sizing: border-box;
  padding: 4.945rem 45.9rem 5.055rem 39.35rem;
  width: 144rem;
  height: 12.7rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/subtract-6Gv.png');
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.raya-age-ijkl-2-XQr .header-BbC .age-KSW .genre-PKt .action-VNv {
  margin-right: 18.05rem;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.raya-age-ijkl-2-XQr .header-BbC .age-KSW .genre-PKt .adventure-pg6 {
  margin-right: 15.4rem;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.raya-age-ijkl-2-XQr .header-BbC .age-KSW .genre-PKt .fantasy-9yG {
  text-align: center;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.raya-age-ijkl-2-XQr .header-BbC .rectangle-104-DiE {
  width: 144rem;
  height: 12.2rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.raya-age-ijkl-2-XQr .header-BbC .search-M3k {
  box-sizing: border-box;
  padding: 1.2rem 2.2rem;
  width: 29.9rem;
  height: 4.3rem;
  position: absolute;
  left: 104.1rem;
  top: 4.1rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.25;
  color: #5e5e5e;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #121212;
  background-color: #ffffff;
  border-radius: 5rem;
}
.raya-age-ijkl-2-XQr .header-BbC .landing-page-bCz {
  width: 13.5rem;
  height: 2.5rem;
  cursor: pointer;
  position: absolute;
  left: 20rem;
  top: 5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.raya-age-ijkl-2-XQr .header-BbC .home-hmp {
  width: 5.8rem;
  height: 2.5rem;
  cursor: pointer;
  position: absolute;
  left: 39.6rem;
  top: 5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.raya-age-ijkl-2-XQr .header-BbC .icon-keyboard-arrow-right-ctn {
  width: 0.8438rem;
  height: 1.182rem;
  position: absolute;
  left: 60.4rem;
  top: 5.7542rem;
  object-fit: contain;
  vertical-align: top;
}
.raya-age-ijkl-2-XQr .header-BbC .genre-wRG {
  width: 5.9rem;
  height: 2.5rem;
  cursor: pointer;
  position: absolute;
  left: 65.8rem;
  top: 5.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #e74646;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.raya-age-ijkl-2-XQr .header-BbC .age-EfG {
  width: 3.9rem;
  height: 2.5rem;
  cursor: pointer;
  position: absolute;
  left: 77.8rem;
  top: 5.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.raya-age-ijkl-2-XQr .header-BbC .library-A38 {
  width: 7.1rem;
  height: 2.5rem;
  position: absolute;
  left: 51.5rem;
  top: 5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #e74646;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.raya-age-ijkl-2-XQr .header-BbC .logo-apk-1-GM4 {
  width: 4.7rem;
  height: 4.5rem;
  position: absolute;
  left: 6.4rem;
  top: 3.8rem;
  object-fit: cover;
  vertical-align: top;
}
