
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.genre-animate-Bu8 {
  background-color: #ffffff;
  width: 100%;
  height: 149rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  .group-1-7Gz {
    height: 121.8rem;
    position: absolute;
    left: 22.5rem;
    top: 17.8rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 98.7rem;

    .auto-group-zh7l-dFL {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0rem 0.7rem 1.3rem 1rem;
      width: 100%;
      align-items: center;

      .auto-group-3mvq-jpA {
        margin: 0rem 0.1rem 1.3rem 0rem;
        display: flex;
        column-gap: 12.3rem;
        align-items: center;
        flex-shrink: 0;

        .image-2-fC2 {
          background-size: 105.078% 100%;
          background-position: -0.4308rem 0;
          background-image: url('REPLACE_IMAGE:6011f94b9e5aefded66ed03005d7efa110fb6e0f');
          flex-shrink: 0;
          width: 15rem;
          height: 23.4rem;
          position: relative;
        }
        .images-5-1-9st {
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .rekomendasi-buku-bacaan-buat-remaja-1-6YE {
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .image-3-d2N {
          flex-shrink: 0;
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-jqyu-xaS {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 4.7rem 4.5rem 2.2rem;
        width: calc(100% - 6.9rem);
        display: flex;

        .laut-bercerita-H6v {
          font-size: 1.6rem;
          font-weight: 300;
          font-family: Lexend, 'Source Sans Pro';
          margin-right: 17.2rem;
          text-align: center;
          white-space: nowrap;
          flex-shrink: 0;
          line-height: 1.25;
          color: #000000;
        }
        .laut-tengah-abp {
          font-size: 1.6rem;
          color: #000000;
          text-align: center;
          font-weight: 300;
          line-height: 1.25;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 20.5rem;
        }
        .moon-Jni {
          flex-shrink: 0;
          font-weight: 300;
          color: #000000;
          white-space: nowrap;
          line-height: 1.25;
          font-family: Lexend, 'Source Sans Pro';
          margin-right: 22.2rem;
          text-align: center;
          font-size: 1.6rem;
        }
        .dreams-2ii {
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
        }
      }
      .auto-group-8jz4-xcN {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.1rem 1.3rem 0rem;
        display: flex;

        .rectangle-16-Hee {
          flex-shrink: 0;
          margin-right: 12.3rem;
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
        }
        .rectangle-18-Rkr {
          margin-right: 11.5rem;
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .marco-guadalupi-on-behance-1-NRC {
          margin-right: 11rem;
          width: 16.6rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .read-across-america-book-of-the-month-july-1-JJr {
          vertical-align: top;
          flex-shrink: 0;
          width: 15.5rem;
          height: 23.4rem;
          object-fit: cover;
        }
      }
      .auto-group-dpaw-DRp {
        width: calc(100% - 3.7rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 1.25rem 4.5rem 2.45rem;

        .saving-fable-jux {
          margin-right: 15.75rem;
          font-weight: 300;
          line-height: 1.25;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.6rem;
          font-family: Lexend, 'Source Sans Pro';
        }
        .a-wolf-for-a-spell-GQ6 {
          font-weight: 300;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          margin-right: 14.85rem;
          font-size: 1.6rem;
          line-height: 1.25;
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
        }
        .the-flying-ship-zqt {
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 14.8rem;
          font-size: 1.6rem;
          line-height: 1.25;
          color: #000000;
          text-align: center;
          font-weight: 300;
          flex-shrink: 0;
        }
        .the-bridge-home-XL2 {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.25;
        }
      }
      .auto-group-dgzc-2na {
        margin-left: 0.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .rectangle-17-aZC {
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 12.3rem;
        }
        .tere-liye-1-Wxe {
          flex-shrink: 0;
          margin-right: 11.7rem;
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
        }
        .movies-to-watch-with-your-kids-before-they-grow-up-eZ4 {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 11.7rem;
          width: 15.7rem;
          height: 23.4rem;
          object-fit: cover;
        }
        .raya-mdg {
          width: 15.5rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-byhp-uzn {
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .the-magical-imperfect-GqL {
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: 300;
        line-height: 1.25;
        font-size: 1.6rem;
        margin-right: 12.9rem;
        text-align: center;
      }
      .matahari-minor-CU6 {
        flex-shrink: 0;
        margin-right: 17.45rem;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
      }
      .ferdinand-wAn {
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 300;
        line-height: 1.25;
        font-size: 1.6rem;
        color: #000000;
        flex-shrink: 0;
        margin-right: 15.05rem;
        text-align: center;
      }
      .raya-the-last-dragon-roY {
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
    }
    .auto-group-qmbc-nx6 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 4rem 0.15rem 0rem 0.15rem;
      width: 100%;

      .auto-group-tt9t-vYW {
        margin: 0rem 0.55rem 1.3rem 0.95rem;
        width: calc(100% - 1.5rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .wingfeather-saga-cover-series-1-eUW {
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 12.3rem;
        }
        .the-wonder-of-wildflowers-by-anna-staniszewski-1-mZ8 {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 12.7rem;
          width: 15rem;
          height: 23.4rem;
        }
        .dark-magic-graphics-open-1-tdk {
          flex-shrink: 0;
          margin-right: 11.5rem;
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
        }
        .hidden-dragon-pnJ {
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 15.4rem;
        }
      }
      .auto-group-joxk-Zzn {
        align-items: flex-start;
        flex-shrink: 0;
        display: flex;

        .the-wingfeather-saga-j8a {
          margin-right: 13.15rem;
          text-align: center;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.25;
          color: #000000;
        }
        .the-wonder-of-wildflowers-rU6 {
          margin-right: 15.4rem;
          text-align: center;
          font-size: 1.6rem;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          max-width: 11.4rem;
          font-weight: 300;
          flex-shrink: 0;
        }
        .a-night-of-magic-m5G {
          text-align: center;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 14.3rem;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.25;
          font-family: Lexend, 'Source Sans Pro';
        }
        .hidden-dragon-gxv {
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
        }
      }
    }
  }
  .age-Rfc {
    padding: 4.945rem 47.3rem 5.055rem 40.05rem;
    width: 144rem;
    background-size: cover;
    height: 12.7rem;
    position: absolute;
    top: 0;
    display: flex;
    box-sizing: border-box;
    left: 0;
    background-repeat: no-repeat;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    align-items: center;
    background-position: center;
    background-image: url('REPLACE_IMAGE:108:309');

    .child-vsG {
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
      text-align: center;
      font-size: 2.1rem;
      color: #000000;
      white-space: nowrap;
      margin-right: 21.65rem;
    }
    .teen-4Tg {
      margin-right: 19.7rem;
      text-align: center;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      font-size: 2.1rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .adult-zcE {
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 2.1rem;
    }
  }
  .genre-HbL {
    box-sizing: border-box;
    padding: 4.945rem 45.9rem 5.055rem 39.35rem;
    background-size: cover;
    width: 144rem;
    left: 0;
    display: flex;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:108:318');
    align-items: center;
    height: 12.7rem;
    position: absolute;
    top: 0;

    .action-BRp {
      margin-right: 18.05rem;
      text-align: center;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.1rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
    }
    .adventure-usc {
      margin-right: 15.4rem;
      font-size: 2.1rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
    }
    .fantasy-Eez {
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 2.1rem;
      font-weight: 400;
      line-height: 1.25;
    }
  }
  .header-WcW {
    top: 0;
    height: 12.2rem;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 3.8rem 10rem 3.8rem 6.4rem;
    width: 144rem;

    .logo-apk-1-13U {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 8.9rem 0.1rem 0rem;
      width: 4.7rem;
      height: 4.5rem;
    }
    .landing-page-iCn {
      color: #000000;
      white-space: nowrap;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0.3rem 6.1rem 0rem 0rem;
      cursor: pointer;
    }
    .home-cox {
      white-space: nowrap;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0.3rem 6.1rem 0rem 0rem;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
    }
    .library-jta {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.3rem 1.8rem 0rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #e74646;
      font-family: Lexend, 'Source Sans Pro';
    }
    .icon-keyboard-arrow-right-Gdc {
      flex-shrink: 0;
      margin: 0.787rem 4.556rem 0rem 0rem;
      width: 0.8439rem;
      height: 1.2097rem;
      object-fit: contain;
      vertical-align: top;
    }
    .genre-NAr {
      flex-shrink: 0;
      margin: 0.7rem 6.1rem 0rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .age-J4W {
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.7rem 22.4rem 0rem 0rem;
      font-size: 2rem;
    }
    .search-dMg {
      box-sizing: border-box;
      width: 29.9rem;
      font-size: 1.5rem;
      font-weight: 300;
      border: solid 0.1rem #121212;
      margin-top: 0.3rem;
      padding: 1.2rem 2.2rem;
      color: #5e5e5e;
      font-family: Lexend, 'Source Sans Pro';
      background-color: #ffffff;
      line-height: 1.25;
      white-space: nowrap;
      border-radius: 5rem;
      flex-shrink: 0;
    }
  }
}
