
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.genre-action-2Tp {
  height: 149rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .auto-group-ghdg-Zie {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 26.7rem;
    position: absolute;
    left: 105.3rem;
    top: 17.9rem;
    align-items: center;

    .rectangle-16-H8r {
      margin-bottom: 1.3rem;
      width: 15rem;
      height: 23.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .saving-fable-1ae {
      font-size: 1.6rem;
      margin-right: 0.3rem;
      font-weight: 300;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
    }
  }
  .auto-group-j1qr-XYz {
    left: 50.8rem;
    top: 17.9rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 26.7rem;
    position: absolute;

    .rectangle-18-ThY {
      height: 23.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 1.3rem;
      width: 15rem;
    }
    .a-wolf-for-a-spell-bok {
      text-align: center;
      font-size: 1.6rem;
      font-weight: 300;
      color: #000000;
      flex-shrink: 0;
      margin-right: 0.1rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-ikns-KUr {
    flex-direction: column;
    width: 15rem;
    height: 26.7rem;
    position: absolute;
    left: 78.1rem;
    top: 17.8rem;
    align-items: center;
    display: flex;

    .dark-magic-graphics-open-1-3fk {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 1.3rem;
      width: 15rem;
      height: 23.4rem;
    }
    .a-night-of-magic-a9t {
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
    }
  }
  .auto-group-dfrn-Jra {
    width: 16.8rem;
    height: 26.7rem;
    position: absolute;
    left: 22.7rem;
    top: 17.7rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .raya-SSz {
      margin: 0rem 0.1rem 1.3rem 0rem;
      width: 15.5rem;
      height: 23.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .raya-the-last-dragon-ZXc {
      text-align: center;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .age-gs8 {
    padding: 4.945rem 47.3rem 5.055rem 40.05rem;
    top: 0;
    align-items: center;
    background-size: cover;
    width: 144rem;
    height: 12.7rem;
    position: absolute;
    background-position: center;
    background-image: url('REPLACE_IMAGE:108:472');
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    left: 0;
    display: flex;
    background-repeat: no-repeat;

    .child-C4n {
      margin-right: 21.65rem;
      text-align: center;
      font-size: 2.1rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      line-height: 1.25;
      color: #000000;
      flex-shrink: 0;
    }
    .teen-7Bk {
      line-height: 1.25;
      color: #000000;
      font-size: 2.1rem;
      text-align: center;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 19.7rem;
    }
    .adult-3LJ {
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 2.1rem;
      font-weight: 400;
      line-height: 1.25;
    }
  }
  .genre-8sY {
    left: 0;
    align-items: center;
    background-size: cover;
    background-image: url('REPLACE_IMAGE:108:481');
    width: 144rem;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    padding: 4.945rem 45.9rem 5.055rem 39.35rem;
    top: 11.3rem;
    height: 12.7rem;

    .action-SNS {
      flex-shrink: 0;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      color: #e74646;
      white-space: nowrap;
      margin-right: 18.05rem;
      text-align: center;
      font-size: 2.1rem;
    }
    .adventure-ApE {
      white-space: nowrap;
      font-size: 2.1rem;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 15.4rem;
      cursor: pointer;
      text-align: center;
      font-weight: 400;
    }
    .fantasy-Htr {
      text-align: center;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      font-size: 2.1rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
    }
  }
  .header-BzE {
    box-sizing: border-box;
    padding: 3.8rem 10.006rem 3.8rem 6.4rem;
    top: 0;
    display: flex;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    width: 144rem;
    height: 12.2rem;
    position: absolute;
    left: 0.0059rem;
    align-items: center;
    background-color: #ffffff;

    .logo-apk-1-ss4 {
      margin: 0rem 8.894rem 0.1rem 0rem;
      width: 4.7rem;
      height: 4.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .landing-page-CPY {
      margin: 0.3rem 6.106rem 0rem 0rem;
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
    }
    .home-6jp {
      margin: 0.3rem 6.1rem 0rem 0rem;
      cursor: pointer;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      font-size: 2rem;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .library-27g {
      margin: 0.3rem 1.794rem 0rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #e74646;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .icon-keyboard-arrow-right-vD4 {
      margin: 0.787rem 4.562rem 0rem 0rem;
      width: 0.8439rem;
      height: 1.2096rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .genre-Qe2 {
      font-weight: 400;
      color: #e74646;
      flex-shrink: 0;
      margin: 0.7rem 6.1rem 0rem 0rem;
      cursor: pointer;
      font-size: 2rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .age-KW6 {
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      font-size: 2rem;
      line-height: 1.25;
      margin: 0.7rem 22.394rem 0rem 0rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
    }
    .search-S4v {
      padding: 1.2rem 2.2rem;
      font-size: 1.5rem;
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
      line-height: 1.25;
      background-color: #ffffff;
      border-radius: 5rem;
      font-weight: 300;
      white-space: nowrap;
      border: solid 0.1rem #121212;
      margin-top: 0.3rem;
      box-sizing: border-box;
      width: 29.9rem;
      color: #5e5e5e;
    }
  }
}
