
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.genre-adventure-2-Ccn {
  width: 100%;
  height: 149rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-tqzk-waN {
    height: 23.4rem;
    position: absolute;
    left: 23.5rem;
    top: 49rem;
    display: flex;
    align-items: center;
    width: 96.9rem;

    .wingfeather-saga-cover-series-1-rxE {
      width: 15rem;
      height: 23.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 12.3rem;
    }
    .rectangle-18-adL {
      width: 15rem;
      height: 23.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 11.5rem;
    }
    .marco-guadalupi-on-behance-1-iDk {
      flex-shrink: 0;
      margin-right: 11.5rem;
      width: 16.6rem;
      height: 23.4rem;
      object-fit: cover;
      vertical-align: top;
    }
    .rectangle-17-S9k {
      width: 15rem;
      height: 23.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-zuww-mxi {
    position: absolute;
    left: 22.55rem;
    top: 73.7rem;
    display: flex;
    align-items: center;
    width: 98.95rem;
    height: 2rem;

    .the-wingfeather-saga-tXY {
      margin-right: 12.05rem;
      text-align: center;
      font-size: 1.6rem;
      line-height: 1.25;
      white-space: nowrap;
      font-weight: 300;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .a-wolf-for-a-spell-QVt {
      white-space: nowrap;
      text-align: center;
      font-size: 1.6rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 14.85rem;
      font-weight: 300;
      line-height: 1.25;
    }
    .the-flying-ship-Wop {
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      margin-right: 13.05rem;
      text-align: center;
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .the-magical-imperfect-qbC {
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 1.25;
      color: #000000;
    }
  }
  .auto-group-v8ml-aHt {
    display: flex;
    align-items: center;
    width: 94.05rem;
    height: 2.1rem;
    position: absolute;
    left: 22.7rem;
    top: 42.5rem;

    .raya-the-last-dragon-6X8 {
      margin: 0rem 12.35rem 0.1rem 0rem;
      font-weight: 300;
      line-height: 1.25;
      color: #000000;
      flex-shrink: 0;
      text-align: center;
      font-size: 1.6rem;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .the-bridge-home-bin {
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.1rem 14.85rem 0rem 0rem;
      font-size: 1.6rem;
      font-weight: 300;
      font-family: Lexend, 'Source Sans Pro';
      text-align: center;
    }
    .hidden-dragon-X6e {
      font-size: 1.6rem;
      white-space: nowrap;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0.1rem 17.55rem 0rem 0rem;
      text-align: center;
      font-weight: 300;
    }
    .ferdinand-34z {
      margin-bottom: 0.1rem;
      font-size: 1.6rem;
      font-weight: 300;
      font-family: Lexend, 'Source Sans Pro';
      text-align: center;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-9rpp-AQW {
    width: 97.4rem;
    height: 23.5rem;
    position: absolute;
    left: 23.3rem;
    top: 17.8rem;
    display: flex;
    align-items: center;

    .raya-h9Y {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 11.9rem 0.1rem 0rem;
      width: 15.5rem;
      height: 23.4rem;
      object-fit: cover;
    }
    .read-across-america-book-of-the-month-july-1-RrE {
      flex-shrink: 0;
      margin: 0.1rem 11.8rem 0rem 0rem;
      width: 15.5rem;
      height: 23.4rem;
      object-fit: cover;
      vertical-align: top;
    }
    .hidden-dragon-LiJ {
      height: 23.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.1rem 11.6rem 0rem 0rem;
      width: 15.4rem;
    }
    .movies-to-watch-with-your-kids-before-they-grow-up-U3p {
      height: 23.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      width: 15.7rem;
    }
  }
  .age-zXx {
    width: 144rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:159:78');
    box-sizing: border-box;
    left: 0;
    top: 0;
    display: flex;
    padding: 4.945rem 47.3rem 5.055rem 40.05rem;
    height: 12.7rem;
    position: absolute;
    align-items: center;
    background-position: center;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

    .child-hhG {
      flex-shrink: 0;
      margin-right: 21.65rem;
      font-size: 2.1rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      text-align: center;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
    }
    .teen-qYa {
      line-height: 1.25;
      margin-right: 19.7rem;
      font-size: 2.1rem;
      font-weight: 400;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
    }
    .adult-ZzN {
      flex-shrink: 0;
      text-align: center;
      font-size: 2.1rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .genre-Gdt {
    box-sizing: border-box;
    display: flex;
    padding: 4.945rem 45.9rem 5.055rem 39.35rem;
    height: 12.7rem;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    width: 144rem;
    align-items: center;
    background-image: url('REPLACE_IMAGE:159:87');

    .action-mqY {
      text-align: center;
      font-size: 2.1rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      margin-right: 18.05rem;
      cursor: pointer;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .adventure-gSi {
      flex-shrink: 0;
      text-align: center;
      font-size: 2.1rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      margin-right: 15.4rem;
      color: #e74646;
    }
    .fantasy-Cvr {
      font-size: 2.1rem;
      font-weight: 400;
      line-height: 1.25;
      text-align: center;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
    }
  }
  .header-Jyt {
    padding: 3.8rem 10.006rem 3.8rem 6.4rem;
    position: absolute;
    left: 0;
    background-color: #ffffff;
    box-sizing: border-box;
    height: 12.2rem;
    top: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    width: 144rem;

    .logo-apk-1-cjg {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 8.894rem 0.1rem 0rem;
      width: 4.7rem;
      height: 4.5rem;
    }
    .landing-page-wmx {
      margin: 0.3rem 6.106rem 0rem 0rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      cursor: pointer;
      font-size: 2rem;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .home-re2 {
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      white-space: nowrap;
      margin: 0.3rem 6.1rem 0rem 0rem;
      cursor: pointer;
      color: #000000;
    }
    .library-NcN {
      flex-shrink: 0;
      margin: 0.3rem 1.794rem 0rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #e74646;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .icon-keyboard-arrow-right-HjL {
      height: 1.2096rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.787rem 4.562rem 0rem 0rem;
      width: 0.8439rem;
    }
    .genre-zNr {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #e74646;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.7rem 6.1rem 0rem 0rem;
    }
    .age-X7t {
      margin: 0.7rem 22.394rem 0rem 0rem;
      cursor: pointer;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
    }
    .search-SVk {
      box-sizing: border-box;
      line-height: 1.25;
      border-radius: 5rem;
      flex-shrink: 0;
      font-size: 1.5rem;
      white-space: nowrap;
      border: solid 0.1rem #121212;
      background-color: #ffffff;
      padding: 1.2rem 2.2rem;
      width: 29.9rem;
      font-weight: 300;
      color: #5e5e5e;
      font-family: Lexend, 'Source Sans Pro';
      margin-top: 0.3rem;
    }
  }
}
