
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.library-genre-1-qQr {
  width: 100%;
  height: 149rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .group-1-mpJ {
    width: 98.7rem;
    height: 121.8rem;
    position: absolute;
    left: 22.5rem;
    top: 17.8rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-xahk-ttv {
      box-sizing: border-box;
      padding: 0rem 0.7rem 1.3rem 1rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-7dp4-c4E {
        margin: 0rem 0.1rem 1.3rem 0rem;
        display: flex;
        column-gap: 12.3rem;
        align-items: center;
        flex-shrink: 0;

        .image-2-Xgz {
          height: 23.4rem;
          position: relative;
          background-size: 105.078% 100%;
          background-position: -0.4308rem 0;
          background-image: url('REPLACE_IMAGE:6011f94b9e5aefded66ed03005d7efa110fb6e0f');
          flex-shrink: 0;
          width: 15rem;
        }
        .images-5-1-Dpi {
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .rekomendasi-buku-bacaan-buat-remaja-1-mLS {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 15rem;
          height: 23.4rem;
        }
        .image-3-hUz {
          vertical-align: top;
          flex-shrink: 0;
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
        }
      }
      .auto-group-ttpn-qLJ {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 4.7rem 4.5rem 2.2rem;
        width: calc(100% - 6.9rem);
        display: flex;

        .laut-bercerita-MpS {
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.25;
          flex-shrink: 0;
          margin-right: 17.2rem;
          text-align: center;
          white-space: nowrap;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
        }
        .laut-tengah-UeA {
          color: #000000;
          white-space: nowrap;
          font-weight: 300;
          line-height: 1.25;
          font-size: 1.6rem;
          font-family: Lexend, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 20.5rem;
          text-align: center;
        }
        .moon-CKG {
          font-weight: 300;
          color: #000000;
          font-size: 1.6rem;
          text-align: center;
          line-height: 1.25;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 22.2rem;
        }
        .dreams-Ken {
          font-weight: 300;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.6rem;
        }
      }
      .auto-group-7nv4-ewx {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.1rem 1.3rem 0rem;

        .rectangle-16-yzE {
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 12.3rem;
        }
        .rectangle-18-iS2 {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 11.5rem;
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
        }
        .marco-guadalupi-on-behance-1-TPc {
          flex-shrink: 0;
          margin-right: 11rem;
          width: 16.6rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
        }
        .read-across-america-book-of-the-month-july-1-C6J {
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 15.5rem;
        }
      }
      .auto-group-ctww-vHC {
        width: calc(100% - 3.7rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 1.25rem 4.5rem 2.45rem;

        .saving-fable-qux {
          margin-right: 15.75rem;
          text-align: center;
          font-weight: 300;
          font-family: Lexend, 'Source Sans Pro';
          font-size: 1.6rem;
          line-height: 1.25;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .a-wolf-for-a-spell-mYi {
          text-align: center;
          font-weight: 300;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 14.85rem;
          font-size: 1.6rem;
          line-height: 1.25;
          flex-shrink: 0;
        }
        .the-flying-ship-tNS {
          line-height: 1.25;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 14.8rem;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 300;
          font-family: Lexend, 'Source Sans Pro';
        }
        .the-bridge-home-1CA {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.25;
        }
      }
      .auto-group-y9u8-wLi {
        align-items: center;
        flex-shrink: 0;
        margin-left: 0.1rem;
        display: flex;

        .rectangle-17-gZC {
          margin-right: 12.3rem;
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tere-liye-1-DZ8 {
          flex-shrink: 0;
          margin-right: 11.7rem;
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
        }
        .movies-to-watch-with-your-kids-before-they-grow-up-YLW {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 11.7rem;
          width: 15.7rem;
          height: 23.4rem;
        }
        .raya-FVp {
          flex-shrink: 0;
          width: 15.5rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .auto-group-6fhg-B8a {
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .the-magical-imperfect-L1U {
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.25;
        margin-right: 12.9rem;
        font-weight: 300;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .matahari-minor-T66 {
        flex-shrink: 0;
        margin-right: 17.45rem;
        text-align: center;
        color: #000000;
        white-space: nowrap;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.25;
        font-family: Lexend, 'Source Sans Pro';
      }
      .ferdinand-yq8 {
        color: #000000;
        flex-shrink: 0;
        line-height: 1.25;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 15.05rem;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 300;
      }
      .raya-the-last-dragon-iGv {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-qqxj-TEW {
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 4rem 0.15rem 0rem 0.15rem;
      width: 100%;
      display: flex;

      .auto-group-kajs-zES {
        flex-shrink: 0;
        margin: 0rem 0.55rem 1.3rem 0.95rem;
        width: calc(100% - 1.5rem);
        display: flex;
        align-items: center;

        .wingfeather-saga-cover-series-1-igE {
          margin-right: 12.3rem;
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .the-wonder-of-wildflowers-by-anna-staniszewski-1-FgA {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 12.7rem;
          width: 15rem;
          height: 23.4rem;
        }
        .dark-magic-graphics-open-1-ycA {
          flex-shrink: 0;
          margin-right: 11.5rem;
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
        }
        .hidden-dragon-W6J {
          width: 15.4rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-p5rq-dwc {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .the-wingfeather-saga-oLJ {
          font-weight: 300;
          font-family: Lexend, 'Source Sans Pro';
          font-size: 1.6rem;
          text-align: center;
          line-height: 1.25;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 13.15rem;
        }
        .the-wonder-of-wildflowers-L5L {
          font-size: 1.6rem;
          line-height: 1.25;
          color: #000000;
          font-weight: 300;
          font-family: Lexend, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 15.4rem;
          max-width: 11.4rem;
          text-align: center;
        }
        .a-night-of-magic-eri {
          line-height: 1.25;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 300;
          text-align: center;
          font-size: 1.6rem;
          font-family: Lexend, 'Source Sans Pro';
          margin-right: 14.3rem;
        }
        .hidden-dragon-PJW {
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 300;
        }
      }
    }
  }
  .header-81C {
    width: 144.1rem;
    height: 26.8rem;
    position: absolute;
    left: 0;
    top: 0;

    .age-3tr {
      padding: 4.945rem 47.3rem 5.055rem 40.05rem;
      height: 12.7rem;
      display: flex;
      box-sizing: border-box;
      position: absolute;
      align-items: center;
      background-repeat: no-repeat;
      left: 0;
      top: 0;
      background-size: cover;
      width: 144rem;
      background-position: center;
      background-image: url('REPLACE_IMAGE:104:111');
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

      .child-ACn {
        text-align: center;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        margin-right: 21.65rem;
        font-size: 2.1rem;
        font-weight: 400;
        line-height: 1.25;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .teen-tea {
        text-align: center;
        font-size: 2.1rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        flex-shrink: 0;
        margin-right: 19.7rem;
        white-space: nowrap;
        font-family: Lexend, 'Source Sans Pro';
      }
      .adult-2Ez {
        text-align: center;
        font-size: 2.1rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .genre-itW {
      display: flex;
      background-repeat: no-repeat;
      box-sizing: border-box;
      padding: 4.945rem 45.9rem 5.055rem 39.35rem;
      width: 144rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      height: 12.7rem;
      align-items: center;
      background-position: center;
      position: absolute;
      top: 11.4rem;
      background-size: cover;
      left: 0;
      background-image: url('REPLACE_IMAGE:83:35');

      .action-EM4 {
        margin-right: 18.05rem;
        text-align: center;
        font-size: 2.1rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .adventure-kKQ {
        margin-right: 15.4rem;
        font-size: 2.1rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-family: Lexend, 'Source Sans Pro';
      }
      .fantasy-G2r {
        font-size: 2.1rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
    }
    .rectangle-104-AP8 {
      width: 144rem;
      height: 12.2rem;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
    }
    .home-gMU {
      left: 39.6rem;
      top: 5rem;
      font-size: 2rem;
      font-weight: 400;
      width: 5.8rem;
      height: 2.5rem;
      cursor: pointer;
      position: absolute;
      color: #000000;
      white-space: nowrap;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
    }
    .icon-keyboard-arrow-right-Bp2 {
      width: 0.8439rem;
      height: 1.2096rem;
      position: absolute;
      left: 60.3941rem;
      top: 5.8885rem;
      object-fit: contain;
      vertical-align: top;
    }
    .genre-uEE {
      height: 2.5rem;
      position: absolute;
      top: 5.2rem;
      line-height: 1.25;
      color: #e74646;
      white-space: nowrap;
      width: 5.9rem;
      font-size: 2rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      left: 65.8rem;
    }
    .age-ceS {
      font-weight: 400;
      height: 2.5rem;
      cursor: pointer;
      left: 77.8rem;
      font-size: 2rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 3.9rem;
      position: absolute;
      top: 5.2rem;
      line-height: 1.25;
    }
    .library-XWW {
      white-space: nowrap;
      left: 51.5rem;
      top: 5rem;
      font-weight: 400;
      line-height: 1.25;
      color: #e74646;
      width: 7.1rem;
      height: 2.5rem;
      position: absolute;
      font-size: 2rem;
      font-family: Lexend, 'Source Sans Pro';
    }
    .logo-apk-1-FSW {
      left: 6.4rem;
      top: 3.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 4.7rem;
      height: 4.5rem;
      position: absolute;
    }
    .landing-page-nBY {
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 13.5rem;
      position: absolute;
      top: 5rem;
      font-size: 2rem;
      line-height: 1.25;
      color: #000000;
      height: 2.5rem;
      cursor: pointer;
      left: 19.9941rem;
    }
    .search-J9t {
      width: 29.9rem;
      font-size: 1.5rem;
      font-weight: 300;
      color: #5e5e5e;
      font-family: Lexend, 'Source Sans Pro';
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 5rem;
      left: 104.1rem;
      line-height: 1.25;
      white-space: nowrap;
      padding: 1.2rem 2.2rem;
      height: 4.3rem;
      position: absolute;
      top: 4.1rem;
      border: solid 0.1rem #121212;
    }
  }
}
