
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.library-age-1-K66 {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 149rem;

  .group-1-rbp {
    top: 17.8rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 98.7rem;
    height: 121.8rem;
    position: absolute;
    left: 22.5rem;

    .auto-group-xxkv-nEa {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0rem 0.7rem 1.3rem 1rem;
      width: 100%;

      .auto-group-ifps-hcS {
        margin: 0rem 0.1rem 1.3rem 0rem;
        display: flex;
        column-gap: 12.3rem;
        align-items: center;
        flex-shrink: 0;

        .image-2-E6a {
          background-image: url('REPLACE_IMAGE:6011f94b9e5aefded66ed03005d7efa110fb6e0f');
          flex-shrink: 0;
          width: 15rem;
          height: 23.4rem;
          position: relative;
          background-size: 105.078% 100%;
          background-position: -0.4308rem 0;
        }
        .images-5-1-FnN {
          flex-shrink: 0;
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
        }
        .rekomendasi-buku-bacaan-buat-remaja-1-Uv2 {
          vertical-align: top;
          flex-shrink: 0;
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
        }
        .image-3-pDC {
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-rw1g-9WN {
        margin: 0rem 4.7rem 4.5rem 2.2rem;
        width: calc(100% - 6.9rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .laut-bercerita-shG {
          font-weight: 300;
          line-height: 1.25;
          font-family: Lexend, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          font-size: 1.6rem;
          white-space: nowrap;
          margin-right: 17.2rem;
          color: #000000;
        }
        .laut-tengah-b7U {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 300;
          line-height: 1.25;
          font-size: 1.6rem;
          margin-right: 20.5rem;
          text-align: center;
        }
        .moon-WkE {
          font-size: 1.6rem;
          font-weight: 300;
          font-family: Lexend, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 22.2rem;
          text-align: center;
          line-height: 1.25;
          color: #000000;
          white-space: nowrap;
        }
        .dreams-FC2 {
          flex-shrink: 0;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-3dua-mw4 {
        margin: 0rem 0.1rem 1.3rem 0rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .rectangle-16-unN {
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 12.3rem;
        }
        .rectangle-18-Epe {
          margin-right: 11.5rem;
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .marco-guadalupi-on-behance-1-BUz {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 11rem;
          width: 16.6rem;
          height: 23.4rem;
        }
        .read-across-america-book-of-the-month-july-1-WXG {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 15.5rem;
          height: 23.4rem;
        }
      }
      .auto-group-thpk-ETG {
        flex-shrink: 0;
        margin: 0rem 1.25rem 4.5rem 2.45rem;
        width: calc(100% - 3.7rem);
        display: flex;
        align-items: center;

        .saving-fable-kgW {
          font-family: Lexend, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 15.75rem;
          text-align: center;
          font-size: 1.6rem;
          color: #000000;
          font-weight: 300;
          line-height: 1.25;
          white-space: nowrap;
        }
        .a-wolf-for-a-spell-HgS {
          text-align: center;
          font-size: 1.6rem;
          line-height: 1.25;
          margin-right: 14.85rem;
          font-weight: 300;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .the-flying-ship-Da6 {
          font-weight: 300;
          line-height: 1.25;
          font-family: Lexend, 'Source Sans Pro';
          flex-shrink: 0;
          white-space: nowrap;
          margin-right: 14.8rem;
          text-align: center;
          font-size: 1.6rem;
          color: #000000;
        }
        .the-bridge-home-9Tk {
          font-weight: 300;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.6rem;
        }
      }
      .auto-group-xbzp-686 {
        margin-left: 0.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .rectangle-17-dNv {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 12.3rem;
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
        }
        .tere-liye-1-ySn {
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 11.7rem;
          width: 15rem;
        }
        .movies-to-watch-with-your-kids-before-they-grow-up-hta {
          margin-right: 11.7rem;
          width: 15.7rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .raya-pyC {
          width: 15.5rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-tsse-yLJ {
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      display: flex;

      .the-magical-imperfect-jKU {
        text-align: center;
        line-height: 1.25;
        white-space: nowrap;
        margin-right: 12.9rem;
        font-size: 1.6rem;
        font-weight: 300;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .matahari-minor-4ce {
        font-weight: 300;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 17.45rem;
        text-align: center;
        font-size: 1.6rem;
        flex-shrink: 0;
      }
      .ferdinand-Pev {
        font-size: 1.6rem;
        font-weight: 300;
        font-family: Lexend, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 15.05rem;
        text-align: center;
        line-height: 1.25;
        color: #000000;
        white-space: nowrap;
      }
      .raya-the-last-dragon-86i {
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.25;
      }
    }
    .auto-group-serr-f6e {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 4rem 0.15rem 0rem 0.15rem;
      width: 100%;

      .auto-group-ypzq-C6a {
        margin: 0rem 0.55rem 1.3rem 0.95rem;
        width: calc(100% - 1.5rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .wingfeather-saga-cover-series-1-vYN {
          margin-right: 12.3rem;
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .the-wonder-of-wildflowers-by-anna-staniszewski-1-SWi {
          flex-shrink: 0;
          margin-right: 12.7rem;
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
          vertical-align: top;
        }
        .dark-magic-graphics-open-1-xjx {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 11.5rem;
          width: 15rem;
          height: 23.4rem;
          object-fit: cover;
        }
        .hidden-dragon-HXL {
          vertical-align: top;
          flex-shrink: 0;
          width: 15.4rem;
          height: 23.4rem;
          object-fit: cover;
        }
      }
      .auto-group-yh4j-q34 {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .the-wingfeather-saga-zRk {
          margin-right: 13.15rem;
          font-size: 1.6rem;
          font-weight: 300;
          font-family: Lexend, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          line-height: 1.25;
          color: #000000;
          white-space: nowrap;
        }
        .the-wonder-of-wildflowers-Kiv {
          font-weight: 300;
          line-height: 1.25;
          color: #000000;
          margin-right: 15.4rem;
          text-align: center;
          font-size: 1.6rem;
          font-family: Lexend, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 11.4rem;
        }
        .a-night-of-magic-SYe {
          text-align: center;
          line-height: 1.25;
          font-family: Lexend, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 14.3rem;
          font-size: 1.6rem;
          font-weight: 300;
          color: #000000;
          white-space: nowrap;
        }
        .hidden-dragon-y2n {
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
        }
      }
    }
  }
  .header-W2i {
    width: 144.1rem;
    height: 26.7rem;
    position: absolute;
    left: 0;
    top: 0;

    .genre-EDc {
      box-sizing: border-box;
      height: 12.7rem;
      left: 0;
      align-items: center;
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:104:102');
      top: 0;
      background-position: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      padding: 4.945rem 45.9rem 5.055rem 39.35rem;
      width: 144rem;
      display: flex;

      .action-jRG {
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 18.05rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.25;
        font-size: 2.1rem;
        flex-shrink: 0;
      }
      .adventure-s1g {
        font-weight: 400;
        white-space: nowrap;
        flex-shrink: 0;
        font-family: Lexend, 'Source Sans Pro';
        margin-right: 15.4rem;
        text-align: center;
        font-size: 2.1rem;
        line-height: 1.25;
        color: #000000;
      }
      .fantasy-bTU {
        flex-shrink: 0;
        text-align: center;
        font-size: 2.1rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .age-gjp {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      height: 12.7rem;
      display: flex;
      background-position: center;
      background-image: url('REPLACE_IMAGE:104:80');
      background-size: cover;
      background-repeat: no-repeat;
      width: 144rem;
      top: 11.3rem;
      align-items: center;
      box-sizing: border-box;
      padding: 4.945rem 47.3rem 5.055rem 40.05rem;
      position: absolute;
      left: 0;

      .child-zkW {
        font-size: 2.1rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        white-space: nowrap;
        margin-right: 21.65rem;
        text-align: center;
        font-family: Lexend, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .teen-8bp {
        margin-right: 19.7rem;
        text-align: center;
        font-size: 2.1rem;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 400;
        line-height: 1.25;
        flex-shrink: 0;
      }
      .adult-qm8 {
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2.1rem;
      }
    }
    .rectangle-104-9Wv {
      background-color: #ffffff;
      width: 144rem;
      height: 12.2rem;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .home-sC2 {
      top: 5rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      height: 2.5rem;
      cursor: pointer;
      position: absolute;
      white-space: nowrap;
      width: 5.8rem;
      left: 39.6rem;
      color: #000000;
    }
    .icon-keyboard-arrow-right-N8n {
      object-fit: contain;
      vertical-align: top;
      width: 0.8439rem;
      height: 1.2096rem;
      position: absolute;
      left: 60.3941rem;
      top: 5.8885rem;
    }
    .genre-sbL {
      font-family: Lexend, 'Source Sans Pro';
      width: 5.9rem;
      cursor: pointer;
      position: absolute;
      font-size: 2rem;
      color: #000000;
      white-space: nowrap;
      height: 2.5rem;
      left: 65.8rem;
      top: 5.2rem;
      font-weight: 400;
      line-height: 1.25;
    }
    .age-B6E {
      height: 2.5rem;
      position: absolute;
      top: 5.2rem;
      line-height: 1.25;
      white-space: nowrap;
      width: 3.9rem;
      left: 77.8rem;
      font-size: 2rem;
      font-weight: 400;
      color: #e74646;
      font-family: Lexend, 'Source Sans Pro';
    }
    .library-6U6 {
      left: 51.5rem;
      font-weight: 400;
      color: #e74646;
      font-family: Lexend, 'Source Sans Pro';
      position: absolute;
      height: 2.5rem;
      top: 5rem;
      font-size: 2rem;
      line-height: 1.25;
      white-space: nowrap;
      width: 7.1rem;
    }
    .logo-apk-1-cSS {
      vertical-align: top;
      width: 4.7rem;
      height: 4.5rem;
      position: absolute;
      left: 6.4rem;
      top: 3.8rem;
      object-fit: cover;
    }
    .landing-page-Y5C {
      height: 2.5rem;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      width: 13.5rem;
      left: 20rem;
      top: 5rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
    }
    .search-rLn {
      border: solid 0.1rem #121212;
      box-sizing: border-box;
      position: absolute;
      top: 4.1rem;
      line-height: 1.25;
      color: #5e5e5e;
      border-radius: 5rem;
      padding: 1.2rem 2.2rem;
      height: 4.3rem;
      left: 104.1rem;
      font-size: 1.5rem;
      font-weight: 300;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 29.9rem;
      background-color: #ffffff;
    }
  }
}
