
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.raya-genre-action-Bjt {
  width: 100%;
  height: 145.6rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-qqes-iE2 {
    width: 144.2rem;
    height: 35.2rem;
    position: absolute;
    left: 0;
    top: 12.2rem;

    .raya-e7g {
      opacity: 0.5;
      width: 144.2rem;
      height: 28.7rem;
      top: 0;
      background-size: 100% 754.357%;
      background-position: 0.2782rem -30.4589rem;
      position: relative;
      left: 0;
      background-image: url('REPLACE_IMAGE:8254f07ca099af823e9c01a47f49bf494d00d99f');
    }
    .raya-KzW {
      width: 13.2rem;
      height: 20rem;
      position: absolute;
      left: 65.4rem;
      top: 15.2rem;
      object-fit: cover;
      vertical-align: top;
    }
    .raya-fHg {
      width: 13.2rem;
      height: 20rem;
      position: absolute;
      left: 65.4rem;
      top: 15.2rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .raya-and-the-last-dragon-QFG {
    font-size: 2.7rem;
    font-weight: 400;
    color: #000000;
    font-family: Lexend, 'Source Sans Pro';
    position: absolute;
    left: 54.4rem;
    top: 50.8rem;
    text-align: center;
    width: 35rem;
    height: 3.4rem;
    line-height: 1.25;
    white-space: nowrap;
  }
  .auto-group-stvj-hVG {
    top: 54.2rem;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    left: 0;
    height: 91.4rem;
    position: absolute;
    display: flex;
    padding: 3.4rem 27.7rem 5.5rem 27.8rem;
    width: 144rem;

    .group-2-nWi {
      white-space: nowrap;
      display: flex;
      flex-shrink: 0;
      color: #ffffff;
      font-family: Lexend, 'Source Sans Pro';
      align-items: center;
      width: calc(100% - 71rem);
      text-align: center;
      font-weight: 400;
      line-height: 1.25;
      border-radius: 2rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      height: 4.1rem;
      font-size: 2rem;
      background-color: #fa9884;
      margin: 0rem 35.3rem 3.9rem 35.7rem;
      justify-content: center;
    }
    .action-adventure-CKY {
      margin-bottom: 1.3rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      text-align: center;
      font-size: 1.8rem;
      font-weight: 200;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .teen-Wr2 {
      white-space: nowrap;
      font-size: 1.8rem;
      font-weight: 200;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 3.9rem;
      text-align: center;
      color: #000000;
    }
    .description-r9C {
      margin-bottom: 4.2rem;
      box-sizing: border-box;
      padding-bottom: 0.7rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      border-radius: 1rem;
      flex-shrink: 0;

      .description-BSN {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.25;
        font-family: Lexend, 'Source Sans Pro';
        margin: 0rem 0rem 1.9rem 0.179rem;
        text-align: center;
        color: #000000;
      }
      .rectangle-115-6pE {
        margin: 0rem 42.323rem 2.5rem 42.356rem;
        width: calc(100% - 84.679rem);
        height: 0.3rem;
        background-color: #fa9884;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-sed-ut-perspiciatis-unde-omnis-iste-natus-error-sit-voluptatem-accusantium-doloremque-laudantium-totam-rem-aperiam-eaque-ipsa-quae-ab-illo-inventore-veritatis-et-quasi-architecto-beatae-vitae-dicta-sunt-explicabo-nemo-enim-ipsam-voluptatem-quia-voluptas-sit-aspernatur-aut-odit-aut-fugit-sed-quia-consequuntur-magni-dolores-eos-qui-ratione-voluptatem-sequi-nesciunt-neque-porro-quisquam-est-qui-dolorem-ipsum-quia-dolor-sit-amet-consectetur-adipisci-velit-sed-quia-non-numquam-eius-modi-tempora-incidunt-ut-labore-et-dolore-magnam-aliquam-quaerat-voluptatem-ut-enim-ad-minima-veniam-quis-nostrum-exercitationem-ullam-corporis-suscipit-laboriosam-nisi-ut-aliquid-ex-ea-commodi-consequatur-quis-autem-vel-eum-iure-reprehenderit-qui-in-ea-voluptate-velit-esse-quam-nihil-molestiae-consequatur-vel-illum-qui-dolorem-eum-fugiat-quo-voluptas-nulla-pariatur-PYS {
        font-weight: 200;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 88.5rem;
        font-size: 1.8rem;
      }
    }
    .group-3-Nx6 {
      margin: 0rem 20.5rem 0rem 20.3rem;
      width: calc(100% - 40.8rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      border-radius: 1rem;
      flex-shrink: 0;

      .auto-group-w5jt-W2i {
        box-sizing: border-box;
        padding: 0rem 21.879rem 3.7rem 22rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .part-q4z {
          margin: 0rem 0.021rem 1.6rem 0rem;
          font-size: 1.8rem;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-weight: 400;
          flex-shrink: 0;
        }
        .rectangle-115-wti {
          border-radius: 1rem;
          flex-shrink: 0;
          width: 100%;
          height: 0.3rem;
          background-color: #fa9884;
        }
      }
      .part-1-grJ {
        margin-bottom: 0.9rem;
        text-align: center;
        border-bottom: solid 0.1rem #bebdbd;
        flex-shrink: 0;
        padding: 0rem 21.3rem 0rem 21.4rem;
        cursor: pointer;
        font-size: 1.8rem;
        line-height: 1.25;
        width: 100%;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        box-sizing: border-box;
        height: 3.1rem;
        font-weight: 300;
        color: #818181;
      }
      .part-2-ZQJ {
        color: #818181;
        font-family: Lexend, 'Source Sans Pro';
        padding: 0rem 21.3rem 0rem 21.5rem;
        font-weight: 300;
        line-height: 1.25;
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.9rem;
        width: 100%;
        height: 3.1rem;
        text-align: center;
        font-size: 1.8rem;
        border-bottom: solid 0.1rem #bebdbd;
        box-sizing: border-box;
        cursor: pointer;
      }
      .part-3-3KU {
        height: 3.1rem;
        text-align: center;
        border-bottom: solid 0.1rem #bebdbd;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 100%;
        font-weight: 300;
        line-height: 1.25;
        white-space: nowrap;
        padding: 0rem 21.6rem 0rem 21.8rem;
        font-size: 1.8rem;
        color: #818181;
        font-family: Lexend, 'Source Sans Pro';
        cursor: pointer;
      }
    }
  }
  .header-7aE {
    left: 0;
    top: 0;
    width: 144.1rem;
    height: 26.7rem;
    position: absolute;

    .age-Euk {
      height: 12.7rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      display: flex;
      background-image: url('REPLACE_IMAGE:123:256');
      background-repeat: no-repeat;
      background-position: center;
      left: 0;
      background-size: cover;
      width: 144rem;
      position: absolute;
      top: 0;
      align-items: center;
      box-sizing: border-box;
      padding: 4.945rem 47.3rem 5.055rem 40.05rem;

      .child-YQe {
        text-align: center;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 21.65rem;
        font-size: 2.1rem;
      }
      .teen-fkA {
        line-height: 1.25;
        color: #e74646;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 19.7rem;
        text-align: center;
        font-size: 2.1rem;
        font-weight: 400;
      }
      .adult-obU {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2.1rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
      }
    }
    .genre-VjC {
      box-sizing: border-box;
      height: 12.7rem;
      display: flex;
      align-items: center;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left: 0;
      background-image: url('REPLACE_IMAGE:123:265');
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      padding: 4.945rem 45.9rem 5.055rem 39.35rem;
      width: 144rem;
      top: 11.3rem;
      background-size: cover;

      .action-zfx {
        font-size: 2.1rem;
        font-weight: 400;
        color: #e74646;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 18.05rem;
        text-align: center;
        line-height: 1.25;
        flex-shrink: 0;
      }
      .adventure-vZc {
        font-weight: 400;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        margin-right: 15.4rem;
        text-align: center;
        line-height: 1.25;
        white-space: nowrap;
        flex-shrink: 0;
        cursor: pointer;
        font-size: 2.1rem;
      }
      .fantasy-3eE {
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        cursor: pointer;
        text-align: center;
        font-size: 2.1rem;
        line-height: 1.25;
        font-weight: 400;
        flex-shrink: 0;
      }
    }
    .rectangle-104-Yaz {
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      width: 144rem;
      height: 12.2rem;
      position: absolute;
      left: 0;
    }
    .search-s7U {
      padding: 1.2rem 2.2rem;
      width: 29.9rem;
      left: 104.1rem;
      top: 4.1rem;
      font-size: 1.5rem;
      font-family: Lexend, 'Source Sans Pro';
      box-sizing: border-box;
      line-height: 1.25;
      border-radius: 5rem;
      height: 4.3rem;
      white-space: nowrap;
      background-color: #ffffff;
      position: absolute;
      font-weight: 300;
      color: #5e5e5e;
      border: solid 0.1rem #121212;
    }
    .landing-page-WRL {
      font-size: 2rem;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.5rem;
      cursor: pointer;
      position: absolute;
      left: 20rem;
      top: 5rem;
      width: 13.5rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
    }
    .home-1st {
      left: 39.6rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      height: 2.5rem;
      cursor: pointer;
      position: absolute;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.8rem;
      top: 5rem;
    }
    .icon-keyboard-arrow-right-XbL {
      left: 60.4rem;
      top: 5.7542rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.8438rem;
      height: 1.182rem;
      position: absolute;
    }
    .genre-eR4 {
      height: 2.5rem;
      font-size: 2rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      width: 5.9rem;
      position: absolute;
      left: 65.8rem;
      top: 5.2rem;
      line-height: 1.25;
      color: #e74646;
      white-space: nowrap;
    }
    .age-MqG {
      height: 2.5rem;
      position: absolute;
      left: 77.8rem;
      line-height: 1.25;
      width: 3.9rem;
      font-size: 2rem;
      font-weight: 400;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      top: 5.2rem;
    }
    .library-Uez {
      width: 7.1rem;
      left: 51.5rem;
      font-size: 2rem;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.5rem;
      position: absolute;
      top: 5rem;
      font-weight: 400;
      line-height: 1.25;
      color: #e74646;
    }
    .logo-apk-1-oBU {
      object-fit: cover;
      vertical-align: top;
      width: 4.7rem;
      height: 4.5rem;
      position: absolute;
      left: 6.4rem;
      top: 3.8rem;
    }
  }
}
