
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.raya-animate-ijkl-Xi6 {
  width: 100%;
  height: 95.9rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .raya-and-the-last-dragon-FPC {
    line-height: 1.25;
    color: #000000;
    font-family: Lexend, 'Source Sans Pro';
    height: 3rem;
    position: absolute;
    top: 20.3rem;
    font-size: 2.4rem;
    font-weight: 400;
    width: 31.1rem;
    left: 56.7rem;
    text-align: center;
    white-space: nowrap;
  }
  .back-LvS {
    cursor: pointer;
    font-weight: 400;
    top: 14.7rem;
    line-height: 1.25;
    white-space: nowrap;
    align-items: baseline;
    font-size: 2rem;
    color: #000000;
    display: flex;
    width: 6rem;
    height: 2.5rem;
    position: absolute;
    left: 5.8rem;
    font-family: Lexend, 'Source Sans Pro';

    .back-LvS-sub-0 {
    }
    .back-LvS-sub-1 {
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.25;
    }
  }
  .rectangle-115-LZ4 {
    width: 15rem;
    height: 0.3rem;
    position: absolute;
    left: 64.5rem;
    top: 28.9rem;
    background-color: #fa9884;
    border-radius: 1rem;
  }
  .ijkl-GBp {
    font-family: Lexend, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.5rem;
    position: absolute;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.25;
    width: 4.7rem;
    left: 70rem;
    top: 25.4rem;
    color: #818181;
  }
  .auto-group-bg8e-nAA {
    top: 85.8rem;
    display: flex;
    align-items: center;
    width: 23.6rem;
    height: 4rem;
    position: absolute;
    left: 60.2rem;

    .polygon-1-7TL {
      margin-right: 15.6rem;
      width: 4rem;
      height: 4rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .polygon-2-rfp {
      width: 4rem;
      height: 4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-sed-ut-perspiciatis-unde-omnis-iste-natus-error-sit-voluptatem-accusantium-doloremque-laudantium-totam-rem-aperiam-eaque-ipsa-quae-ab-illo-inventore-veritatis-et-quasi-architecto-beatae-vitae-dicta-sunt-explicabo-nemo-enim-ipsam-voluptatem-quia-voluptas-sit-aspernatur-aut-odit-aut-fugit-sed-quia-consequuntur-magni-dolores-eos-qui-ratione-voluptatem-sequi-nesciunt-neque-porro-quisquam-est-qui-dolorem-ipsum-quia-dolor-sit-amet-consectetur-adipisci-velit-sed-quia-non-numquam-eius-modi-tempora-incidunt-ut-labore-et-dolore-magnam-aliquam-quaerat-voluptatem-ut-enim-ad-minima-veniam-quis-nostrum-exercitationem-ullam-corporis-suscipit-laboriosam-nisi-ut-aliquid-ex-ea-commodi-consequatur-quis-autem-vel-eum-iure-reprehenderit-qui-in-ea-voluptate-velit-esse-quam-nihil-molestiae-consequatur-vel-illum-qui-dolorem-eum-fugiat-quo-voluptas-nulla-pariatur-CUn {
    width: 88.5rem;
    color: #000000;
    height: 33.8rem;
    position: absolute;
    left: 27.8rem;
    top: 38.6rem;
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 1.25;
    font-family: Lexend, 'Source Sans Pro';
  }
  .header-cKY {
    width: 144.1rem;
    height: 14.9rem;
    position: absolute;
    left: 0;
    top: 0;

    .age-kAr {
      background-position: center;
      background-image: url('REPLACE_IMAGE:131:811');
      position: absolute;
      left: 0;
      top: 0;
      background-repeat: no-repeat;
      width: 144rem;
      height: 12.7rem;
      background-size: cover;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

      .teen-Gut {
        line-height: 1.25;
        white-space: nowrap;
        width: 4.8rem;
        position: absolute;
        top: 2.2451rem;
        font-size: 2.1rem;
        font-weight: 400;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        height: 2.7rem;
        left: 66.7rem;
        text-align: center;
      }
      .adult-yZQ {
        width: 5.4rem;
        position: absolute;
        left: 91.2rem;
        white-space: nowrap;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        height: 2.7rem;
        top: 2.2451rem;
        text-align: center;
        font-size: 2.1rem;
        font-weight: 400;
      }
      .child-Sht {
        width: 5.1rem;
        height: 2.7rem;
        position: absolute;
        font-size: 2.1rem;
        line-height: 1.25;
        white-space: nowrap;
        left: 39.95rem;
        top: 2.2451rem;
        text-align: center;
        font-weight: 400;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
      }
      .genre-vd4 {
        align-items: center;
        background-size: cover;
        width: 144rem;
        display: flex;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:131:820');
        position: absolute;
        background-position: center;
        height: 12.7rem;
        left: 0;
        top: 0;
        box-sizing: border-box;
        padding: 4.945rem 45.9rem 5.055rem 39.35rem;

        .action-R42 {
          text-align: center;
          line-height: 1.25;
          color: #000000;
          margin-right: 18.05rem;
          font-size: 2.1rem;
          font-weight: 400;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .adventure-wYA {
          font-weight: 400;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          color: #000000;
          margin-right: 15.4rem;
          text-align: center;
          font-size: 2.1rem;
          line-height: 1.25;
        }
        .fantasy-4sg {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 2.1rem;
          font-weight: 400;
          line-height: 1.25;
        }
      }
    }
    .rectangle-104-8ce {
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      width: 144rem;
      height: 12.2rem;
      position: absolute;
      left: 0;
    }
    .age-eqt {
      top: 5rem;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      cursor: pointer;
      height: 2.5rem;
      position: absolute;
      left: 77.9rem;
      font-size: 2rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      width: 3.9rem;
    }
    .search-MkJ {
      width: 29.9rem;
      font-size: 1.5rem;
      border: solid 0.1rem #121212;
      height: 4.3rem;
      left: 104.1rem;
      top: 4.1rem;
      background-color: #ffffff;
      border-radius: 5rem;
      box-sizing: border-box;
      line-height: 1.25;
      color: #5e5e5e;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      padding: 1.2rem 2.2rem;
      position: absolute;
      font-weight: 300;
    }
    .landing-page-cRL {
      top: 5rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      width: 13.5rem;
      position: absolute;
      left: 20rem;
      font-weight: 400;
      line-height: 1.25;
      white-space: nowrap;
      height: 2.5rem;
      cursor: pointer;
      font-size: 2rem;
    }
    .home-ijG {
      position: absolute;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      color: #000000;
      white-space: nowrap;
      width: 5.8rem;
      height: 2.5rem;
      cursor: pointer;
      left: 39.6rem;
      top: 5rem;
    }
    .icon-keyboard-arrow-right-ExW {
      position: absolute;
      left: 60.4001rem;
      top: 5.9699rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.8438rem;
      height: 1.1236rem;
    }
    .genre-MXL {
      line-height: 1.25;
      color: #000000;
      width: 5.9rem;
      font-weight: 400;
      left: 65.8rem;
      top: 5.2rem;
      font-size: 2rem;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.5rem;
      position: absolute;
    }
    .library-sEn {
      left: 51.5rem;
      font-size: 2rem;
      line-height: 1.25;
      color: #e74646;
      font-family: Lexend, 'Source Sans Pro';
      height: 2.5rem;
      position: absolute;
      font-weight: 400;
      white-space: nowrap;
      width: 7.1rem;
      top: 5rem;
    }
    .logo-apk-1-yoc {
      object-fit: cover;
      vertical-align: top;
      width: 4.7rem;
      height: 4.5rem;
      position: absolute;
      left: 6.4rem;
      top: 3.8rem;
    }
  }
}
