
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.raya-animate-abcd-rNa {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 128.9rem;
  cursor: pointer;

  .raya-and-the-last-dragon-zDt {
    width: 31.1rem;
    height: 3rem;
    left: 56.7rem;
    font-family: Lexend, 'Source Sans Pro';
    line-height: 1.25;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    top: 55.4rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
  }
  .rectangle-115-gcW {
    width: 15rem;
    height: 0.3rem;
    position: absolute;
    left: 64.5rem;
    top: 64rem;
    background-color: #fa9884;
    border-radius: 1rem;
  }
  .abcd-bzN {
    top: 60.5rem;
    text-align: center;
    font-weight: 300;
    font-family: Lexend, 'Source Sans Pro';
    height: 2.5rem;
    position: absolute;
    left: 69.5rem;
    font-size: 2rem;
    line-height: 1.25;
    color: #818181;
    white-space: nowrap;
    width: 5.6rem;
  }
  .auto-group-evox-KfU {
    left: 60.2rem;
    top: 120.9rem;
    display: flex;
    align-items: center;
    width: 23.6rem;
    height: 4rem;
    position: absolute;

    .polygon-1-47G {
      margin-right: 15.6rem;
      width: 4rem;
      height: 4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .polygon-2-bcz {
      flex-shrink: 0;
      width: 4rem;
      height: 4rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-sed-ut-perspiciatis-unde-omnis-iste-natus-error-sit-voluptatem-accusantium-doloremque-laudantium-totam-rem-aperiam-eaque-ipsa-quae-ab-illo-inventore-veritatis-et-quasi-architecto-beatae-vitae-dicta-sunt-explicabo-nemo-enim-ipsam-voluptatem-quia-voluptas-sit-aspernatur-aut-odit-aut-fugit-sed-quia-consequuntur-magni-dolores-eos-qui-ratione-voluptatem-sequi-nesciunt-neque-porro-quisquam-est-qui-dolorem-ipsum-quia-dolor-sit-amet-consectetur-adipisci-velit-sed-quia-non-numquam-eius-modi-tempora-incidunt-ut-labore-et-dolore-magnam-aliquam-quaerat-voluptatem-ut-enim-ad-minima-veniam-quis-nostrum-exercitationem-ullam-corporis-suscipit-laboriosam-nisi-ut-aliquid-ex-ea-commodi-consequatur-quis-autem-vel-eum-iure-reprehenderit-qui-in-ea-voluptate-velit-esse-quam-nihil-molestiae-consequatur-vel-illum-qui-dolorem-eum-fugiat-quo-voluptas-nulla-pariatur-9Pc {
    width: 88.5rem;
    height: 33.8rem;
    line-height: 1.25;
    font-family: Lexend, 'Source Sans Pro';
    position: absolute;
    left: 27.8rem;
    top: 73.7rem;
    font-size: 1.8rem;
    font-weight: 200;
    color: #000000;
  }
  .auto-group-upje-Lkv {
    position: absolute;
    white-space: nowrap;
    background-position: 3.4794rem -31.4108rem;
    align-items: baseline;
    background-image: url('REPLACE_IMAGE:2171ab6efac1a6eee4eaed4528cb04c96ddeeaaf');
    height: 32rem;
    top: 12.2rem;
    font-weight: 400;
    line-height: 1.25;
    box-sizing: border-box;
    width: 171.3rem;
    left: 0;
    display: flex;
    background-size: 100% 848.334%;
    padding: 2.5rem 33.2rem;
    font-size: 2rem;
    color: #000000;
    font-family: Lexend, 'Source Sans Pro';

    .auto-group-upje-Lkv-sub-0 {
    }
    .auto-group-upje-Lkv-sub-1 {
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.25;
    }
    .auto-group-upje-Lkv-bg {
      width: 171.3rem;
      height: 32rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:2171ab6efac1a6eee4eaed4528cb04c96ddeeaaf');
    }
  }
  .header-oY2 {
    width: 144.1rem;
    height: 14.9rem;
    position: absolute;
    left: 0;
    top: 0;

    .age-Xiv {
      height: 12.7rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:131:252');
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      width: 144rem;
      position: absolute;
      left: 0;
      top: 0;

      .teen-sGz {
        width: 4.8rem;
        top: 2.2451rem;
        color: #000000;
        line-height: 1.25;
        font-family: Lexend, 'Source Sans Pro';
        height: 2.7rem;
        position: absolute;
        left: 66.7rem;
        text-align: center;
        font-size: 2.1rem;
        font-weight: 400;
        white-space: nowrap;
      }
      .adult-yL2 {
        font-family: Lexend, 'Source Sans Pro';
        position: absolute;
        left: 91.2rem;
        top: 2.2451rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        width: 5.4rem;
        height: 2.7rem;
        text-align: center;
        font-size: 2.1rem;
        white-space: nowrap;
      }
      .child-sRQ {
        top: 2.2451rem;
        text-align: center;
        font-size: 2.1rem;
        white-space: nowrap;
        width: 5.1rem;
        position: absolute;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        height: 2.7rem;
        left: 39.95rem;
      }
      .genre-nHU {
        top: 0;
        align-items: center;
        background-position: center;
        background-image: url('REPLACE_IMAGE:131:261');
        position: absolute;
        width: 144rem;
        height: 12.7rem;
        box-sizing: border-box;
        background-size: cover;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        display: flex;
        left: 0;
        background-repeat: no-repeat;
        padding: 4.945rem 45.9rem 5.055rem 39.35rem;

        .action-tbQ {
          font-size: 2.1rem;
          font-family: Lexend, 'Source Sans Pro';
          flex-shrink: 0;
          line-height: 1.25;
          color: #000000;
          white-space: nowrap;
          margin-right: 18.05rem;
          text-align: center;
          font-weight: 400;
        }
        .adventure-Ddg {
          white-space: nowrap;
          text-align: center;
          font-size: 2.1rem;
          font-weight: 400;
          font-family: Lexend, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 15.4rem;
          line-height: 1.25;
          color: #000000;
        }
        .fantasy-kdc {
          flex-shrink: 0;
          text-align: center;
          font-size: 2.1rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .rectangle-104-pNa {
      background-color: #ffffff;
      width: 144rem;
      height: 12.2rem;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .age-YZU {
      cursor: pointer;
      position: absolute;
      top: 5rem;
      font-size: 2rem;
      color: #000000;
      width: 3.9rem;
      left: 77.9rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.5rem;
    }
    .search-rq4 {
      height: 4.3rem;
      position: absolute;
      font-size: 1.5rem;
      font-weight: 300;
      white-space: nowrap;
      padding: 1.2rem 2.2rem;
      width: 29.9rem;
      background-color: #ffffff;
      border-radius: 5rem;
      top: 4.1rem;
      box-sizing: border-box;
      left: 104.1rem;
      line-height: 1.25;
      color: #5e5e5e;
      font-family: Lexend, 'Source Sans Pro';
      border: solid 0.1rem #121212;
    }
    .landing-page-iMU {
      height: 2.5rem;
      position: absolute;
      left: 20rem;
      top: 5rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      width: 13.5rem;
      cursor: pointer;
      font-size: 2rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
    }
    .home-Rmg {
      cursor: pointer;
      top: 5rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      width: 5.8rem;
      height: 2.5rem;
      position: absolute;
      left: 39.6rem;
      color: #000000;
      white-space: nowrap;
    }
    .icon-keyboard-arrow-right-xFp {
      position: absolute;
      left: 60.4001rem;
      top: 5.9699rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.8438rem;
      height: 1.1236rem;
    }
    .genre-G1c {
      height: 2.5rem;
      left: 65.8rem;
      top: 5.2rem;
      font-weight: 400;
      line-height: 1.25;
      white-space: nowrap;
      width: 5.9rem;
      position: absolute;
      font-size: 2rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
    }
    .library-myx {
      white-space: nowrap;
      width: 7.1rem;
      height: 2.5rem;
      top: 5rem;
      font-size: 2rem;
      color: #e74646;
      position: absolute;
      left: 51.5rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
    }
    .logo-apk-1-HhQ {
      top: 3.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 4.7rem;
      height: 4.5rem;
      position: absolute;
      left: 6.4rem;
    }
  }
}
