
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.raya-genre-abcd-2-ogi {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 135.6rem;
  position: relative;

  .raya-and-the-last-dragon-jqG {
    position: absolute;
    left: 56.7rem;
    text-align: center;
    line-height: 1.25;
    color: #000000;
    font-family: Lexend, 'Source Sans Pro';
    white-space: nowrap;
    width: 31.1rem;
    height: 3rem;
    top: 55.4rem;
    font-size: 2.4rem;
    font-weight: 400;
  }
  .rectangle-115-35G {
    position: absolute;
    left: 64.5rem;
    top: 64rem;
    background-color: #fa9884;
    border-radius: 1rem;
    width: 15rem;
    height: 0.3rem;
  }
  .abcd-Mbk {
    width: 5.6rem;
    height: 2.5rem;
    position: absolute;
    top: 60.5rem;
    text-align: center;
    font-size: 2rem;
    line-height: 1.25;
    color: #818181;
    font-family: Lexend, 'Source Sans Pro';
    left: 69.5rem;
    font-weight: 300;
    white-space: nowrap;
  }
  .auto-group-fxee-GTp {
    position: absolute;
    left: 60.2rem;
    top: 120.9rem;
    display: flex;
    align-items: center;
    width: 23.6rem;
    height: 4rem;

    .polygon-1-CMU {
      height: 4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 15.6rem;
      width: 4rem;
    }
    .polygon-2-9Gi {
      height: 4rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 4rem;
    }
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-sed-ut-perspiciatis-unde-omnis-iste-natus-error-sit-voluptatem-accusantium-doloremque-laudantium-totam-rem-aperiam-eaque-ipsa-quae-ab-illo-inventore-veritatis-et-quasi-architecto-beatae-vitae-dicta-sunt-explicabo-nemo-enim-ipsam-voluptatem-quia-voluptas-sit-aspernatur-aut-odit-aut-fugit-sed-quia-consequuntur-magni-dolores-eos-qui-ratione-voluptatem-sequi-nesciunt-neque-porro-quisquam-est-qui-dolorem-ipsum-quia-dolor-sit-amet-consectetur-adipisci-velit-sed-quia-non-numquam-eius-modi-tempora-incidunt-ut-labore-et-dolore-magnam-aliquam-quaerat-voluptatem-ut-enim-ad-minima-veniam-quis-nostrum-exercitationem-ullam-corporis-suscipit-laboriosam-nisi-ut-aliquid-ex-ea-commodi-consequatur-quis-autem-vel-eum-iure-reprehenderit-qui-in-ea-voluptate-velit-esse-quam-nihil-molestiae-consequatur-vel-illum-qui-dolorem-eum-fugiat-quo-voluptas-nulla-pariatur-tVC {
    height: 33.8rem;
    left: 27.8rem;
    top: 73.7rem;
    color: #000000;
    font-family: Lexend, 'Source Sans Pro';
    width: 88.5rem;
    position: absolute;
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 1.25;
  }
  .auto-group-ybkt-gSz {
    top: 12.2rem;
    white-space: nowrap;
    display: flex;
    background-position: 3.4794rem -31.4108rem;
    box-sizing: border-box;
    padding: 2.5rem 33.2rem;
    height: 32rem;
    width: 171.3rem;
    left: 0;
    background-size: 100% 848.334%;
    line-height: 1.25;
    align-items: baseline;
    background-image: url('REPLACE_IMAGE:2171ab6efac1a6eee4eaed4528cb04c96ddeeaaf');
    position: absolute;
    font-size: 2rem;
    font-weight: 400;
    color: #000000;
    font-family: Lexend, 'Source Sans Pro';

    .auto-group-ybkt-gSz-sub-0 {
    }
    .auto-group-ybkt-gSz-sub-1 {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
    }
    .auto-group-ybkt-gSz-bg {
      width: 171.3rem;
      height: 32rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:2171ab6efac1a6eee4eaed4528cb04c96ddeeaaf');
    }
  }
  .header-wnE {
    left: 0;
    top: 0;
    width: 144.1rem;
    height: 14.9rem;
    position: absolute;

    .age-5dY {
      width: 144rem;
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      height: 12.7rem;
      left: 0;
      top: 0;
      background-position: center;
      background-image: url('REPLACE_IMAGE:129:31');
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

      .teen-2Ht {
        font-size: 2.1rem;
        width: 4.8rem;
        position: absolute;
        left: 66.7rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.7rem;
        top: 2.2451rem;
        text-align: center;
      }
      .adult-8Lv {
        width: 5.4rem;
        height: 2.7rem;
        text-align: center;
        font-weight: 400;
        color: #000000;
        position: absolute;
        left: 91.2rem;
        top: 2.2451rem;
        font-size: 2.1rem;
        line-height: 1.25;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
      }
      .child-2hC {
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        width: 5.1rem;
        position: absolute;
        text-align: center;
        font-size: 2.1rem;
        line-height: 1.25;
        height: 2.7rem;
        left: 39.95rem;
        top: 2.2451rem;
        font-weight: 400;
      }
      .genre-KwC {
        box-sizing: border-box;
        background-image: url('REPLACE_IMAGE:129:40');
        padding: 4.945rem 45.9rem 5.055rem 39.35rem;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-size: cover;
        width: 144rem;
        height: 12.7rem;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;

        .action-2ai {
          font-size: 2.1rem;
          line-height: 1.25;
          white-space: nowrap;
          margin-right: 18.05rem;
          font-weight: 400;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
        }
        .adventure-Yox {
          font-family: Lexend, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 15.4rem;
          text-align: center;
          line-height: 1.25;
          white-space: nowrap;
          font-size: 2.1rem;
          font-weight: 400;
          color: #000000;
        }
        .fantasy-srE {
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 2.1rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
        }
      }
    }
    .rectangle-104-8GN {
      left: 0;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      width: 144rem;
      height: 12.2rem;
      position: absolute;
    }
    .search-FLz {
      padding: 1.2rem 2.2rem;
      font-size: 1.5rem;
      white-space: nowrap;
      background-color: #ffffff;
      height: 4.3rem;
      font-weight: 300;
      font-family: Lexend, 'Source Sans Pro';
      box-sizing: border-box;
      width: 29.9rem;
      position: absolute;
      left: 104.1rem;
      line-height: 1.25;
      color: #5e5e5e;
      top: 4.1rem;
      border: solid 0.1rem #121212;
      border-radius: 5rem;
    }
    .landing-page-Vm8 {
      cursor: pointer;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      width: 13.5rem;
      position: absolute;
      left: 20rem;
      top: 5rem;
      font-size: 2rem;
      white-space: nowrap;
      height: 2.5rem;
    }
    .home-1Dg {
      height: 2.5rem;
      position: absolute;
      font-size: 2rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      color: #000000;
      white-space: nowrap;
      width: 5.8rem;
      cursor: pointer;
      left: 39.6rem;
      top: 5rem;
      font-weight: 400;
    }
    .icon-keyboard-arrow-right-7nW {
      left: 60.4rem;
      top: 5.7542rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.8438rem;
      height: 1.182rem;
      position: absolute;
    }
    .genre-2uU {
      position: absolute;
      top: 5.2rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 400;
      color: #e74646;
      white-space: nowrap;
      width: 5.9rem;
      height: 2.5rem;
      cursor: pointer;
      left: 65.8rem;
    }
    .age-9z6 {
      left: 77.8rem;
      top: 5.2rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      height: 2.5rem;
      position: absolute;
      color: #000000;
      white-space: nowrap;
      width: 3.9rem;
      cursor: pointer;
    }
    .library-sv6 {
      font-family: Lexend, 'Source Sans Pro';
      height: 2.5rem;
      position: absolute;
      top: 5rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #e74646;
      width: 7.1rem;
      left: 51.5rem;
      white-space: nowrap;
    }
    .logo-apk-1-b5Q {
      object-fit: cover;
      vertical-align: top;
      width: 4.7rem;
      height: 4.5rem;
      position: absolute;
      left: 6.4rem;
      top: 3.8rem;
    }
  }
}
