
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.raya-age-teen-abcd-8BQ {
  background-color: #ffffff;
  width: 100%;
  height: 128.9rem;
  position: relative;
  overflow: hidden;

  .raya-and-the-last-dragon-G2i {
    height: 3rem;
    left: 56.7rem;
    top: 55.4rem;
    text-align: center;
    color: #000000;
    width: 31.1rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.25;
    font-family: Lexend, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
  }
  .rectangle-115-kyU {
    border-radius: 1rem;
    width: 15rem;
    height: 0.3rem;
    position: absolute;
    left: 64.5rem;
    top: 64rem;
    background-color: #fa9884;
  }
  .abcd-tZt {
    top: 60.5rem;
    height: 2.5rem;
    position: absolute;
    left: 69.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.25;
    color: #818181;
    width: 5.6rem;
    white-space: nowrap;
    font-family: Lexend, 'Source Sans Pro';
  }
  .auto-group-scky-PmY {
    top: 120.9rem;
    display: flex;
    align-items: center;
    width: 23.6rem;
    height: 4rem;
    position: absolute;
    left: 60.2rem;

    .polygon-1-ujt {
      margin-right: 15.6rem;
      width: 4rem;
      height: 4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .polygon-2-EXG {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 4rem;
      height: 4rem;
      cursor: pointer;
    }
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-sed-ut-perspiciatis-unde-omnis-iste-natus-error-sit-voluptatem-accusantium-doloremque-laudantium-totam-rem-aperiam-eaque-ipsa-quae-ab-illo-inventore-veritatis-et-quasi-architecto-beatae-vitae-dicta-sunt-explicabo-nemo-enim-ipsam-voluptatem-quia-voluptas-sit-aspernatur-aut-odit-aut-fugit-sed-quia-consequuntur-magni-dolores-eos-qui-ratione-voluptatem-sequi-nesciunt-neque-porro-quisquam-est-qui-dolorem-ipsum-quia-dolor-sit-amet-consectetur-adipisci-velit-sed-quia-non-numquam-eius-modi-tempora-incidunt-ut-labore-et-dolore-magnam-aliquam-quaerat-voluptatem-ut-enim-ad-minima-veniam-quis-nostrum-exercitationem-ullam-corporis-suscipit-laboriosam-nisi-ut-aliquid-ex-ea-commodi-consequatur-quis-autem-vel-eum-iure-reprehenderit-qui-in-ea-voluptate-velit-esse-quam-nihil-molestiae-consequatur-vel-illum-qui-dolorem-eum-fugiat-quo-voluptas-nulla-pariatur-P9G {
    width: 88.5rem;
    height: 33.8rem;
    left: 27.8rem;
    font-size: 1.8rem;
    line-height: 1.25;
    position: absolute;
    top: 73.7rem;
    font-weight: 200;
    color: #000000;
    font-family: Lexend, 'Source Sans Pro';
  }
  .auto-group-nrfg-G8W {
    top: 12.2rem;
    font-weight: 400;
    width: 171.3rem;
    font-size: 2rem;
    white-space: nowrap;
    display: flex;
    background-size: 100% 848.334%;
    background-image: url('REPLACE_IMAGE:2171ab6efac1a6eee4eaed4528cb04c96ddeeaaf');
    box-sizing: border-box;
    font-family: Lexend, 'Source Sans Pro';
    background-position: 3.4794rem -31.4108rem;
    color: #000000;
    height: 32rem;
    position: absolute;
    left: 0;
    line-height: 1.25;
    align-items: baseline;
    padding: 2.5rem 33.2rem;

    .auto-group-nrfg-G8W-sub-0 {
    }
    .auto-group-nrfg-G8W-sub-1 {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
    }
    .auto-group-nrfg-G8W-bg {
      height: 32rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:2171ab6efac1a6eee4eaed4528cb04c96ddeeaaf');
      width: 171.3rem;
    }
  }
  .header-YkE {
    top: 0;
    width: 144.1rem;
    height: 26.7rem;
    position: absolute;
    left: 0;

    .age-snW {
      position: absolute;
      top: 11.3rem;
      display: flex;
      background-size: cover;
      padding: 4.945rem 47.3rem 5.055rem 40.05rem;
      background-repeat: no-repeat;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      height: 12.7rem;
      left: 0;
      align-items: center;
      width: 144rem;
      background-image: url('REPLACE_IMAGE:131:292');
      background-position: center;

      .child-nPg {
        line-height: 1.25;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2.1rem;
        font-weight: 400;
        margin-right: 21.65rem;
        font-family: Lexend, 'Source Sans Pro';
      }
      .teen-i2S {
        line-height: 1.25;
        color: #e74646;
        flex-shrink: 0;
        font-weight: 400;
        text-align: center;
        font-size: 2.1rem;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 19.7rem;
      }
      .adult-34i {
        text-align: center;
        font-size: 2.1rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .genre-86A {
      position: absolute;
      display: flex;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:131:301');
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      padding: 4.945rem 45.9rem 5.055rem 39.35rem;
      top: 0;
      background-size: cover;
      height: 12.7rem;
      align-items: center;
      background-position: center;
      width: 144rem;
      left: 0;

      .action-S6r {
        text-align: center;
        color: #000000;
        flex-shrink: 0;
        margin-right: 18.05rem;
        font-size: 2.1rem;
        font-weight: 400;
        line-height: 1.25;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
      }
      .adventure-9mx {
        text-align: center;
        font-size: 2.1rem;
        font-weight: 400;
        line-height: 1.25;
        white-space: nowrap;
        margin-right: 15.4rem;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .fantasy-tUe {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2.1rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
      }
    }
    .rectangle-104-PgJ {
      background-color: #ffffff;
      width: 144rem;
      height: 12.2rem;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .search-7sC {
      background-color: #ffffff;
      left: 104.1rem;
      font-family: Lexend, 'Source Sans Pro';
      border: solid 0.1rem #121212;
      position: absolute;
      color: #5e5e5e;
      border-radius: 5rem;
      font-size: 1.5rem;
      line-height: 1.25;
      padding: 1.2rem 2.2rem;
      height: 4.3rem;
      top: 4.1rem;
      white-space: nowrap;
      box-sizing: border-box;
      width: 29.9rem;
      font-weight: 300;
    }
    .landing-page-B6N {
      width: 13.5rem;
      height: 2.5rem;
      position: absolute;
      left: 20rem;
      top: 5rem;
      font-size: 2rem;
      font-weight: 400;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      cursor: pointer;
      line-height: 1.25;
    }
    .home-5Se {
      position: absolute;
      left: 39.6rem;
      top: 5rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.8rem;
      cursor: pointer;
      font-size: 2rem;
      color: #000000;
      height: 2.5rem;
    }
    .icon-keyboard-arrow-right-bA6 {
      width: 0.8438rem;
      height: 1.1236rem;
      position: absolute;
      left: 60.4001rem;
      top: 5.9699rem;
      object-fit: contain;
      vertical-align: top;
    }
    .genre-6sY {
      height: 2.5rem;
      top: 5.2rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.9rem;
      cursor: pointer;
      position: absolute;
      left: 65.8rem;
    }
    .age-cqt {
      white-space: nowrap;
      width: 3.9rem;
      height: 2.5rem;
      position: absolute;
      left: 77.8rem;
      top: 5.2rem;
      font-size: 2rem;
      font-weight: 400;
      cursor: pointer;
      line-height: 1.25;
      color: #e74646;
      font-family: Lexend, 'Source Sans Pro';
    }
    .library-wNN {
      top: 5rem;
      font-size: 2rem;
      color: #e74646;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 7.1rem;
      left: 51.5rem;
      font-weight: 400;
      line-height: 1.25;
      height: 2.5rem;
      position: absolute;
    }
    .logo-apk-1-qyY {
      vertical-align: top;
      width: 4.7rem;
      height: 4.5rem;
      position: absolute;
      left: 6.4rem;
      top: 3.8rem;
      object-fit: cover;
    }
  }
}
