
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.raya-age-teen-3ca {
  width: 100%;
  height: 145.6rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-e7ve-Byg {
    width: 144.2rem;
    height: 35.2rem;
    position: absolute;
    left: 0;
    top: 12.2rem;

    .raya-7cS {
      top: 0;
      background-size: 100% 754.357%;
      background-position: 0.2782rem -30.4589rem;
      opacity: 0.5;
      position: relative;
      left: 0;
      width: 144.2rem;
      height: 28.7rem;
      background-image: url('REPLACE_IMAGE:8254f07ca099af823e9c01a47f49bf494d00d99f');
    }
    .raya-okA {
      vertical-align: top;
      width: 13.2rem;
      height: 20rem;
      position: absolute;
      left: 65.4rem;
      top: 15.2rem;
      object-fit: cover;
    }
    .raya-wrN {
      width: 13.2rem;
      height: 20rem;
      position: absolute;
      left: 65.4rem;
      top: 15.2rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .raya-and-the-last-dragon-V7C {
    position: absolute;
    left: 54.4rem;
    top: 50.8rem;
    font-size: 2.7rem;
    color: #000000;
    white-space: nowrap;
    width: 35rem;
    height: 3.4rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.25;
    font-family: Lexend, 'Source Sans Pro';
  }
  .auto-group-qppe-bAE {
    position: absolute;
    left: 0;
    top: 54.2rem;
    align-items: center;
    box-sizing: border-box;
    padding: 3.4rem 27.7rem 5.5rem 27.8rem;
    width: 144rem;
    height: 91.4rem;
    display: flex;
    flex-direction: column;

    .group-2-66z {
      line-height: 1.25;
      white-space: nowrap;
      justify-content: center;
      border-radius: 2rem;
      flex-shrink: 0;
      font-weight: 400;
      color: #ffffff;
      font-family: Lexend, 'Source Sans Pro';
      display: flex;
      margin: 0rem 35.3rem 3.9rem 35.7rem;
      width: calc(100% - 71rem);
      height: 4.1rem;
      font-size: 2rem;
      align-items: center;
      background-color: #fa9884;
      text-align: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .action-adventure-726 {
      text-align: center;
      font-size: 1.8rem;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.3rem;
      font-weight: 200;
    }
    .teen-phC {
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      font-weight: 200;
      line-height: 1.25;
      font-size: 1.8rem;
      flex-shrink: 0;
      margin-bottom: 3.9rem;
      text-align: center;
    }
    .description-ZPt {
      align-items: center;
      display: flex;
      border-radius: 1rem;
      padding-bottom: 0.7rem;
      width: 100%;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 4.2rem;
      box-sizing: border-box;

      .description-JMU {
        font-size: 1.8rem;
        font-weight: 400;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 1.9rem 0.179rem;
        text-align: center;
        line-height: 1.25;
      }
      .rectangle-115-p4v {
        background-color: #fa9884;
        border-radius: 1rem;
        flex-shrink: 0;
        margin: 0rem 42.323rem 2.5rem 42.356rem;
        width: calc(100% - 84.679rem);
        height: 0.3rem;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-sed-ut-perspiciatis-unde-omnis-iste-natus-error-sit-voluptatem-accusantium-doloremque-laudantium-totam-rem-aperiam-eaque-ipsa-quae-ab-illo-inventore-veritatis-et-quasi-architecto-beatae-vitae-dicta-sunt-explicabo-nemo-enim-ipsam-voluptatem-quia-voluptas-sit-aspernatur-aut-odit-aut-fugit-sed-quia-consequuntur-magni-dolores-eos-qui-ratione-voluptatem-sequi-nesciunt-neque-porro-quisquam-est-qui-dolorem-ipsum-quia-dolor-sit-amet-consectetur-adipisci-velit-sed-quia-non-numquam-eius-modi-tempora-incidunt-ut-labore-et-dolore-magnam-aliquam-quaerat-voluptatem-ut-enim-ad-minima-veniam-quis-nostrum-exercitationem-ullam-corporis-suscipit-laboriosam-nisi-ut-aliquid-ex-ea-commodi-consequatur-quis-autem-vel-eum-iure-reprehenderit-qui-in-ea-voluptate-velit-esse-quam-nihil-molestiae-consequatur-vel-illum-qui-dolorem-eum-fugiat-quo-voluptas-nulla-pariatur-KnN {
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 88.5rem;
        font-size: 1.8rem;
        font-weight: 200;
        line-height: 1.25;
      }
    }
    .group-3-814 {
      margin: 0rem 20.5rem 0rem 20.3rem;
      width: calc(100% - 40.8rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      border-radius: 1rem;
      flex-shrink: 0;

      .auto-group-mpcn-qw4 {
        padding: 0rem 21.879rem 3.7rem 22rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;

        .part-a7x {
          margin: 0rem 0.021rem 1.6rem 0rem;
          font-weight: 400;
          color: #000000;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
          line-height: 1.25;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rectangle-115-5aW {
          flex-shrink: 0;
          width: 100%;
          height: 0.3rem;
          background-color: #fa9884;
          border-radius: 1rem;
        }
      }
      .part-1-Qsg {
        font-size: 1.8rem;
        color: #818181;
        white-space: nowrap;
        border-bottom: solid 0.1rem #bebdbd;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 100%;
        font-family: Lexend, 'Source Sans Pro';
        padding: 0rem 21.3rem 0rem 21.4rem;
        height: 3.1rem;
        cursor: pointer;
        font-weight: 300;
        margin-bottom: 0.9rem;
        line-height: 1.25;
        text-align: center;
      }
      .part-2-UsY {
        white-space: nowrap;
        line-height: 1.25;
        height: 3.1rem;
        text-align: center;
        font-weight: 300;
        color: #818181;
        font-family: Lexend, 'Source Sans Pro';
        margin-bottom: 0.9rem;
        box-sizing: border-box;
        padding: 0rem 21.3rem 0rem 21.5rem;
        width: 100%;
        cursor: pointer;
        font-size: 1.8rem;
        border-bottom: solid 0.1rem #bebdbd;
        flex-shrink: 0;
      }
      .part-3-MRY {
        padding: 0rem 21.6rem 0rem 21.8rem;
        width: 100%;
        font-size: 1.8rem;
        color: #818181;
        cursor: pointer;
        font-family: Lexend, 'Source Sans Pro';
        height: 3.1rem;
        line-height: 1.25;
        white-space: nowrap;
        box-sizing: border-box;
        text-align: center;
        font-weight: 300;
        border-bottom: solid 0.1rem #bebdbd;
        flex-shrink: 0;
      }
    }
  }
  .header-pa2 {
    left: 0;
    top: 0;
    width: 144.1rem;
    height: 26.7rem;
    position: absolute;

    .age-ZGi {
      align-items: center;
      background-size: cover;
      box-sizing: border-box;
      padding: 4.9rem 47.3rem 5.055rem 40.05rem;
      height: 12.7rem;
      top: 11.3rem;
      background-position: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      width: 144rem;
      position: absolute;
      display: flex;
      background-image: url('REPLACE_IMAGE:123:117');
      left: 0;
      background-repeat: no-repeat;

      .child-FfL {
        margin: 0rem 21.65rem 0.045rem 0rem;
        text-align: center;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        flex-shrink: 0;
        cursor: pointer;
        font-size: 2.1rem;
        font-weight: 400;
        white-space: nowrap;
      }
      .teen-k6J {
        white-space: nowrap;
        text-align: center;
        font-weight: 400;
        line-height: 1.25;
        font-family: Lexend, 'Source Sans Pro';
        margin: 0.045rem 19.7rem 0rem 0rem;
        font-size: 2.1rem;
        color: #e74646;
        flex-shrink: 0;
      }
      .adult-46z {
        cursor: pointer;
        text-align: center;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        margin-top: 0.0451rem;
        font-weight: 400;
        flex-shrink: 0;
        font-size: 2.1rem;
      }
    }
    .genre-ixE {
      background-position: center;
      width: 144rem;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      background-size: cover;
      background-image: url('REPLACE_IMAGE:123:126');
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      padding: 4.945rem 45.9rem 5.055rem 39.35rem;
      height: 12.7rem;
      align-items: center;
      background-repeat: no-repeat;

      .action-Rre {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 18.05rem;
        text-align: center;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        font-size: 2.1rem;
        font-weight: 400;
        line-height: 1.25;
      }
      .adventure-AJS {
        font-size: 2.1rem;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        margin-right: 15.4rem;
        text-align: center;
        font-weight: 400;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .fantasy-Htr {
        text-align: center;
        font-size: 2.1rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .rectangle-104-Pwt {
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      width: 144rem;
      height: 12.2rem;
    }
    .search-KKk {
      position: absolute;
      top: 4.1rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      box-sizing: border-box;
      width: 29.9rem;
      left: 104.1rem;
      border-radius: 5rem;
      padding: 1.2rem 2.2rem;
      background-color: #ffffff;
      white-space: nowrap;
      border: solid 0.1rem #121212;
      height: 4.3rem;
      font-size: 1.5rem;
      font-weight: 300;
      color: #5e5e5e;
    }
    .landing-page-qxJ {
      width: 13.5rem;
      height: 2.5rem;
      top: 5rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      cursor: pointer;
      position: absolute;
      left: 20rem;
      font-size: 2rem;
      white-space: nowrap;
    }
    .home-kpN {
      font-size: 2rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.5rem;
      position: absolute;
      top: 5rem;
      font-weight: 400;
      line-height: 1.25;
      width: 5.8rem;
      cursor: pointer;
      left: 39.6rem;
    }
    .icon-keyboard-arrow-right-Gni {
      vertical-align: top;
      width: 0.8438rem;
      height: 1.182rem;
      position: absolute;
      left: 60.4rem;
      top: 5.7542rem;
      object-fit: contain;
    }
    .genre-Ben {
      white-space: nowrap;
      height: 2.5rem;
      cursor: pointer;
      position: absolute;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      width: 5.9rem;
      left: 65.8rem;
      top: 5.2rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
    }
    .age-6Wr {
      height: 2.5rem;
      font-weight: 400;
      color: #e74646;
      white-space: nowrap;
      width: 3.9rem;
      position: absolute;
      left: 77.8rem;
      top: 5.2rem;
      font-size: 2rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
    }
    .library-R3L {
      position: absolute;
      left: 51.5rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      width: 7.1rem;
      height: 2.5rem;
      top: 5rem;
      color: #e74646;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .logo-apk-1-8iS {
      vertical-align: top;
      width: 4.7rem;
      height: 4.5rem;
      position: absolute;
      left: 6.4rem;
      top: 3.8rem;
      object-fit: cover;
    }
  }
}
